<section class="about-kitchen">
  <div class="about-kitchen-top-content">
    <div class="about-kitchen-top-inner">
      <h2 class="about-kitchen-top-title">Amet minim mollit non</h2>

      <p class="about-kitchen-top-logo">MIMIHO</p>

      <p class="about-kitchen-top-text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>

    <img class="about-kitchen-top-img" src="" alt="" width="" height="" />
  </div>

  <div class="about-kitchen-bottom-content">
    <img class="about-kitchen-bottom-img" src="" alt="" width="" height="" />

    <p class="about-kitchen-bottom-text">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
  </div>

  <div class="about-kitchen-slider-photos">
    <img class="about-kitchen-slider-photo" src="" alt="" width="" height="" />
    <img class="about-kitchen-slider-photo" src="" alt="" width="" height="" />
  </div>

  <div class="about-kitchen-arrow">
    <svg class="about-kitchen-arrow-left" width="" height="">
      <use href=""></use> 
    </svg>

    <svg class="about-kitchen-arrow-right" width="" height="">
      <use href=""></use>
    </svg>
  </div>
