<section class="about_hotel">
  <div class="container"> 
      <h2 class="visually-hidden">About our hotel</h2>
      <p class="about_hotel_text">Amet minim mollit non</p>
      <h3 class="about_hotel_title">MIMIHO</h3>
  
      <p class="about_hotel_room_one">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
      <picture>
        <source 
          srcset="
          ./img/hotel/1-mob-1x.jpg 1x, 
          ./img/hotel/1-mob-2x.jpg 2x"
          media="(min-width: 320px) and (max-width: 1023px)"
        />
  
        <source
          srcset="
          ./img/hotel/1-tab-1x.jpg 1x, 
          ./img/hotel/1-tab-2x.jpg 2x"
          media="(min-width: 1024px) "
        />
  
        <source
          srcset="
          ./img/hotel/1-desk-1x.jpg 1x, 
          ./img/hotel/1-desk-2x.jpg 2x"
          media="(min-width: 1280px) "
        />
        <img
          class="studio_apartment_one"
          src="./img/hotel/1-mob-1x.jpg"
          alt="modern-studio-apartment-design-with-bedroom-living-space"
        />
      </picture>
  
      <div class="hotel_photo">
        <p class="about_hotel_room_two">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
        <picture>
          <source
            srcset="
              ./img/homepage/4-mob-1x.jpg 1x,
              ./img/homepage/4-mob-2x.jpg 2x
            "
            media="(min-width: 320px) and (max-width: 1023px)"
          />
  
          <source
            srcset="
              ./img/homepage/4-tab-1x.jpg 1x,
              ./img/homepage/4-tab-2x.jpg 2x
            "
            media="(min-width: 1024px) "
          />
  
          <source
            srcset="
              ./img/homepage/4-desk-1x.jpg 1x,
              ./img/homepage/4-desk-2x.jpg 2x
            "
            media="(min-width: 1280px) "
          />
          <img
            class="studio_apartment_two"
            src="./img/homepage/4-desk-2x.jpg"
            alt="hotel space area"
          />
        </picture>
      </div>
      <div class="about_hotel_slider">
        <picture class="towell">
          <source
            srcset="
              ./img/homepage/small-img/slider3/2-mob-1x.jpg 1x,
              ./img/homepage/small-img/slider3/2-mob-2x.jpg 2x
            "
            media="(min-width: 320px) and (max-width: 1023px)"
          />
  
          <source
            srcset="
              ./img/homepage/small-img/slider3/2-tab-1x.jpg 1x,
              ./img/homepage/small-img/slider3/2-tab-2x.jpg 2x
            "
            media="(min-width: 1024px) "
          />
  
          <source
            srcset="
              ./img/homepage/small-img/slider3/2-desk-1x.jpg 1x,
              ./img/homepage/small-img/slider3/2-desk-2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <img
            class="about_hotel_slider_one"
            src="./img/homepage/small-img/slider3/2-tab-1x.jpg 1x"
            alt="towels photo"
          />
        </picture>
  
        <picture>
          <source
            srcset="
              ./img/homepage/small-img/slider3/1-mob-1x.jpg 1x,
              ./img/homepage/small-img/slider3/1-mob-2x.jpg 2x
            "
            media="(min-width: 320px) and (max-width: 1023px)"
          />
  
          <source
            srcset="
              ./img/homepage/small-img/slider3/1-tab-1x.jpg 1x,
              ./img/homepage/small-img/slider3/1-tab-2x.jpg 2x
            "
            media="(min-width: 1024px) "
          />
  
          <source
            srcset="
              ./img/homepage/small-img/slider3/1-desk-1x.jpg 1x,
              ./img/homepage/small-img/slider3/1-desk-2x.jpg 2x
            "
            media="(min-width: 1280px) "
          />
          <img
            class="about_hotel_slider_two"
            src="./img/homepage/small-img/slider3/1-mob-1x.jpg 1x"
            alt="people at reception"
          />
        </picture>
      </div>
      <div class="slide_btn">
        <button type="button" class="slide_btn_left button__arrow">
          <svg class="svg_btn_left">
            <use href="./img/svg/sprite.svg#icon-arrow-left"></use>
          </svg>
        </button>
        <button type="button" class="slide_btn_right button__arrow">
          <svg class="svg_btn_right">
            <use href="./img/svg/sprite.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
  </div>
      </section>
    </body>
  </html>
  
  
  