<section class="about-kitchen">
  <div class="container">
    <div class="about-kitchen-container">
      <div class="about-kitchen-top-content">
        <div class="about-kitchen-top-inner">
          <h2 hidden>About-kitchen</h2>

          <p class="about-kitchen-top-subtitle">Amet minim mollit non</p>

          <p class="about-kitchen-logo">MIMIHO</p>

          <p class="about-kitchen-top-text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
        </div>

        <picture class="about-kitchen-pic">
          <source
            srcset="
              ./img/restaurant/1-desk-1x.jpg 1x,
              ./img/restaurant/1-desk-2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/restaurant/1-tab-1x.jpg 1x,
              ./img/restaurant/1-tab-2x.jpg 2x
            "
            media="(min-width: 1024px)"
          />
          <source
            srcset="
              ./img/restaurant/1-mob-1x.jpg 1x,
              ./img/restaurant/1-mob-2x.jpg 2x
            "
            media="(max-width: 1023px)"
          />

          <img
            class="about-kitchen-top-img"
            src="./img/restaurant/1-desk-1x.jpg"
            alt="kitchen"
          />
        </picture>
      </div>

      <div class="about-kitchen-bottom-content">
        <picture>
          <source
            srcset="
              ./img/restaurant/2-desk-1x.jpg 1x,
              ./img/restaurant/2-desk-2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/restaurant/2-tab-1x.jpg 1x,
              ./img/restaurant/2-tab-2x.jpg 2x
            "
            media="(min-width: 1024px)"
          />
          <source
            srcset="
              ./img/restaurant/2-mob-1x.jpg 1x,
              ./img/restaurant/2-mob-2x.jpg 2x
            "
            media="(max-width: 1023px)"
          />

          <img
            class="about-kitchen-bottom-img"
            src="./img/restaurant/2-desk-1x.jpg"
            alt="beef"
          />
        </picture>

        <p class="about-kitchen-bottom-text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>

      <div class="about-kitchen-slider-photos">
        <picture class="pic-slider-photo-one">
          <source
            srcset="
              ./img/restaurant/small-img/1-desk-1x.jpg 1x,
              .img/restaurant/small-img/1-desk-2x.jpg  2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/restaurant/small-img/1-tab-1x.jpg 1x,
              .img/restaurant/small-img/1-tab-2x.jpg  2x
            "
            media="(min-width: 1024px)"
          />
          <source
            srcset="
              ./img/restaurant/small-img/1-mob-1x.jpg 1x,
              .img/restaurant/small-img/1-mob-2x.jpg  2x
            "
            media="(max-width: 1023px)"
          />

          <img
            class="about-kitchen-slider-one"
            src="./img/restaurant/small-img/1-desk-1x.jpg"
            alt="flour"
          />
        </picture>

        <picture class="pic-slider-photo-two">
          <source
            srcset="
              ./img/restaurant/small-img/2-desk-1x.jpg 1x,
              ./img/restaurant/small-img/2-desk-2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/restaurant/small-img/2-tab-1x.jpg 1x,
              ./img/restaurant/small-img/2-tab-2x.jpg 2x
            "
            media="(min-width: 1024px)"
          />
          <source
            srcset="
              ./img/restaurant/small-img/2-mob-1x.jpg 1x,
              ./img/restaurant/small-img/2-mob-2x.jpg 2x
            "
            media="(max-width: 1023px)"
          />

          <img
            class="about-kitchen-slider-two"
            src="./img/restaurant/small-img/2-desk-1x.jpg"
            alt="pizza"
          />
        </picture>
      </div>

      <div class="about-kitchen-arrow">
        <button type="button" class="button-slider-left">
          <svg class="about-kitchen-arrow-left" width="32" height="32">
            <use href="./img/svg/sprite.svg#icon-arrow-left"></use>
          </svg>
        </button>

        <button type="button" class="button-slider-right">
          <svg class="about-kitchen-arrow-right" width="32" height="32">
            <use href="./img/svg/sprite.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
