<section class="about-kitchen">
  <div class="about-kitchen-top-content">
    <div class="about-kitchen-top-inner">
      
      <h2 hidden>About-kitchen</h2>

      <p class="about-kitchen-top-subtitle">Amet minim mollit non</p>

      
      <a class="about-kitchen-logo-link" href="#">MIMIHO</a>
      

      <p class="about-kitchen-top-text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>

    <picture>

      <source srcset="./img/restaurant/1-desk-1x.jpg ./img/restaurant/1-desk-2x.jpg" media="(min-width: 1200px)">
      <source srcset="./img/restaurant/1-tab-1x.jpg ./img/restaurant/1-tab-2x.jpg" media="">
      <source srcset="./img/restaurant/1-mob-1x.jpg ./img/restaurant/1-mob-2x.jpg" media="(max-width: 767px)">

      <img class="about-kitchen-top-img" src="../img/restaurant/1-desk.jpg " alt="photo" width="522" height="574" />
    </picture>

    <picture>

      <source srcset="./img/restaurant/1-desk-1x.jpg ./img/restaurant/1-desk-2x.jpg" media="(min-width: 1200px)">
      <source srcset="./img/restaurant/1-tab-1x.jpg ./img/restaurant/1-tab-2x.jpg" media="">
      <source srcset="./img/restaurant/1-mob-1x.jpg ./img/restaurant/1-mob-2x.jpg" media="(max-width: 767px)">

      <img class="about-kitchen-top-img" src="./img/restaurant/1-desk.jpg " alt="photo" width="522" height="574" />
    </picture>

    <picture>

      <source srcset="./img/restaurant/1-desk-1x.jpg ./img/restaurant/1-desk-2x.jpg" media="(min-width: 1200px)">
      <source srcset="./img/restaurant/1-tab-1x.jpg ./img/restaurant/1-tab-2x.jpg" media="">
      <source srcset="./img/restaurant/1-mob-1x.jpg ./img/restaurant/1-mob-2x.jpg" media="(max-width: 767px)">

      <img class="about-kitchen-top-img" src="./img/restaurant/1-desk.jpg " alt="photo" width="522" height="574" />
    </picture>
    
  </div>

  <div class="about-kitchen-bottom-content">
    <img class="about-kitchen-bottom-img" src="" alt="" width="" height="" />

    <p class="about-kitchen-bottom-text">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
  </div>

  <div class="about-kitchen-slider-photos">
    <img class="about-kitchen-slider-photo" src="" alt="" width="" height="" />
    <img class="about-kitchen-slider-photo" src="" alt="" width="" height="" />
  </div>

  <div class="about-kitchen-arrow">

    <svg class="about-kitchen-arrow-left" width="" height="">
      <use href=""></use> 
    </svg>

    <svg class="about-kitchen-arrow-right" width="" height="">
      <use href=""></use>
    </svg>

  </div>
