<section class="about-restaurant">
  <div class="container">
    <div class="about-restaurant-container">
      <div class="about-restaurant-top-content">
        <div class="about-restaurant-top-inner">
          <h2 hidden>About-kitchen</h2>

          <p class="about-restaurant-top-subtitle">Amet minim mollit non</p>

          <p class="about-restaurant-logo">
            <a class="about-restaurant-logo-link" href="#">MIMIHO</a>
          </p>

          <p class="about-restaurant-top-text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
        </div>

        <picture class="about-restaurant-pic">
          <source
            srcset="
              ./img/homepage/1-desk-1x.jpg 1x,
              ./img/homepage/1-desk-2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/homepage/1-tab-1x.jpg 1x,
              ./img/homepage/1-tab-2x.jpg 2x
            "
            media="(min-width: 1024px)"
          />
          <source
            srcset="
              ./img/homepage/1-mob-1x.jpg 1x,
              ./img/homepage/1-mob-2x.jpg 2x
            "
            media="(max-width: 1023px)"
          />

          <img
            class="about-restaurant-top-img"
            src="./img/homepage/1-desk-1x.jpg"
            alt="hotel-restaurant"
          />
        </picture>
      </div>

      <div class="about-restaurant-bottom-content">
        <picture>
          <source
            srcset="
              ./img/homepage/2-desk-1x.jpg 1x,
              ./img/homepage/2-desk-2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/homepage/2-tab-1x.jpg 1x,
              ./img/homepage/2-tab-2x.jpg 2x
            "
            media="(min-width: 1024px)"
          />
          <source
            srcset="
              ./img/homepage/2-mob-1x.jpg 1x,
              ./img/homepage/2-mob-2x.jpg 2x
            "
            media="(max-width: 1023px)"
          />

          <img
            class="about-restaurant-bottom-img"
            src="./img/homepage/2-desk-1x.jpg"
            alt="hotel-restaurant"
          />
        </picture>

        <p class="about-restaurant-bottom-text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>

      <div class="about-restaurant-slider-photos">
        <picture class="pic-slider-photo-one">
          <source
            srcset="
              ../img/homepage/small-img/slider1/1-desk-1x.jpg 1x,
              ../img/homepage/small-img/slider1/1-desk-2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ../img/homepage/small-img/slider1/1-tab-1x.jpg 1x,
              ../img/homepage/small-img/slider1/1-tab-2x.jpg 2x
            "
            media="(min-width: 1024px)"
          />
          <source
            srcset="
              ../img/homepage/small-img/slider1/1-mob-1x.jpg 1x,
              ../img/homepage/small-img/slider1/1-mob-2x.jpg 2x
            "
            media="(max-width: 1023px)"
          />

          <img
            class="about-restaurant-slider-one"
            src="../img/homepage/small-img/slider1/1-desk-1x.jpg"
            alt="goblet"
          />
        </picture>

        <picture class="pic-slider-photo-two">
          <source
            srcset="
              ../img/homepage/small-img/slider1/2-desk-1x.jpg 1x,
              ../img/homepage/small-img/slider1/2-desk-2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ../img/homepage/small-img/slider1/2-tab-1x.jpg 1x,
              ../img/homepage/small-img/slider1/2-tab-2x.jpg 2x
            "
            media="(min-width: 1024px)"
          />
          <source
            srcset="
              ../img/homepage/small-img/slider1/2-mob-1x.jpg 1x,
              ../img/homepage/small-img/slider1/2-mob-2x.jpg 2x
            "
            media="(max-width: 1023px)"
          />

          <img
            class="about-restaurant-slider-two"
            src="../img/homepage/small-img/slider1/2-desk-1x.jpg"
            alt="dishes"
          />
        </picture>
      </div>

      <div class="about-restaurant-arrow">
        <button type="button" class="button-slider-left">
          <svg class="about-restaurant-arrow-left" width="32" height="32">
            <use href="./img/svg/sprite.svg#icon-arrow-left"></use>
          </svg>
        </button>

        <button type="button" class="button-slider-right">
          <svg class="about-restaurant-arrow-right" width="32" height="32">
            <use href="./img/svg/sprite.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
