<section class="amenities">
    <div class="container">
      <h2 class="amenities__title">ЗРУЧНОСТІ У НОМЕРІ</h2>
      <p class="amenities__after-title">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
      <ul class="amenities__list list">
        <li class="amenities__item">
          <h3 class="amenities__subtitle">ЗАГАЛЬНІ</h3>
          <div class="amenities__text-container">
          <p class="amenities__text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do
            amet sint. Velit officia consequat duis enim velit mollit.
            Exercitation veniam consequat sunt nostrud amet.
          </p>
          <p class="amenities__text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do
            amet sint. Velit officia consequat duis enim velit mollit.
            Exercitation veniam consequat sunt nostrud amet.
          </p>
        </div>
        </li>
        <li class="amenities__item">
          <h3 class="amenities__subtitle">ВАННА КІМНАТА</h3>
          <div class="amenities__text-container">
          <p class="amenities__text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do
            amet sint. Velit officia consequat duis enim velit mollit.
            Exercitation veniam consequat sunt nostrud amet.
          </p>
          <p class="amenities__text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do
            amet sint. Velit officia consequat duis enim velit mollit.
            Exercitation veniam consequat sunt nostrud amet.
          </p>
        </div>
        </li>
        <li class="amenities__item">
          <h3 class="amenities__subtitle">СПАЛЬНЯ</h3>
          <p class="amenities__text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do
            amet sint.
          </p>
        </li>
        <li class="amenities__item">
          <h3 class="amenities__subtitle">КУХНЯ</h3>
          <div class="amenities__text-container">
          <p class="amenities__text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do
            amet sint.
          </p>
          <p class="amenities__text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do
            amet sint.
          </p>
        </div>
        </li>
        <li class="amenities__item">
          <h3 class="amenities__subtitle">МЕДІА</h3>
          <p class="amenities__text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do
            amet sint. Velit officia consequat duis enim velit mollit.
          </p>
        </li>
      </ul>
    </div>
  </section>
  <div>
  <button class="amenities__button" type="button">ОФОРМИТИ БРОНЮВАННЯ</button>
  <a class="amenities__link link" href="">Повернутися до перегляду номерів 
    <svg class="amenities__icon" width="24" height="24">
        <use href="../img/svg/sprite.svg#icon-arrow-right"></use>
    </svg>
  </a>
</div>
