<section>
  <h2>MIMIHO</h2>
  <p>Ресторанно-готельний комплекс</p>
  <address>
    <ul>
      <li>
        <h3>Ресторан</h3>
        <div>
          <svg width="24" height="24">
            <use></use>
          </svg>
          <a href="">095 555 95 33</a>
        </div>
      </li>
      <li>
        <h3>Готель</h3>
        <div>
          <svg width="24" height="24">
            <use></use>
          </svg>
          <a href="">066 849 10 89</a>
          <a href="">067 275 85 40</a>
        </div>
      </li>
      <li>
        <h3>Мicце знаходження</h3>
        <div>
          <svg width="24" height="24">
            <use></use>
          </svg>
          <p>Україна, м. Полтава, вул. Маршала Бірюзова, 15</p>
        </div>
      </li>
    </ul>
  </address>
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d160750.01095653544!2d34.270158242238494!3d49.60168947438368!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d825e425e6ba6b%3A0xcf3e6bdfb9e4ca82!2z0J_QvtC70YLQsNCy0LAsINCf0L7Qu9GC0LDQstGB0LrQsNGPINC-0LHQu9Cw0YHRgtGMLCDQo9C60YDQsNC40L3QsCwgMzYwMDA!5e1!3m2!1sru!2snl!4v1676558669590!5m2!1sru!2snl"
    width="384"
    height="220"
    style="border: 0"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
  ></iframe>
</section>
