<section class="contacts">
  <div class="container">
    <h1 class="hidden">Контакти</h1>
    <a href="./index.html" class="contacts__logo">MIMIHO</a>
    <p class="contacts__logo__text">Ресторанно-готельний комплекс</p>
    <address>
      <ul class="address-list">
        <li class="address-list__item">
          <h3 class="address-list__title">Ресторан</h3>
          <div class="address-list__phones">
            <svg width="24" height="24" class="address-list__icon">
              <use href="./img/svg/sprite.svg#icon-phone"></use>
            </svg>
            <a href="tel:+380955559533" class="address-list__phone"
              >095 555 95 33</a
            >
          </div>
        </li>
        <li class="address-list__item">
          <h3 class="address-list__title">Готель</h3>
          <div class="address-list__phones">
            <svg width="24" height="24" class="address-list__icon">
              <use href="./img/svg/sprite.svg#icon-phone"></use>
            </svg>
            <div class="address-list__two-phones">
              <a href="tel:+380668491089" class="address-list__phone"
                >066 849 10 89</a
              >
              <a href="tel:+380672758540" class="address-list__phone"
                >067 275 85 40</a
              >
            </div>
          </div>
        </li>
        <li class="address-list__item">
          <h3 class="address-list__title hidden">Мicце знаходження</h3>
          <a
            class="address-list__address"
            href="https://goo.gl/maps/bPco8az8Pxiguq2k8"
            target="_blank"
            rel="noreferrer noopener"
          >
            <svg width="24" height="24" class="address-list__icon">
              <use href="./img/svg/sprite.svg#icon-location"></use>
            </svg>
            <p class="address__text">
              Україна, м. Полтава, вул. Маршала Бірюзова, 15
            </p>
          </a>
        </li>
      </ul>
    </address>
    <iframe
      class="contacts__map"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2431.0373602243485!2d34.5265463!3d49.59919399999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d82601f3347a5f%3A0x36f3f9aeec44a6a!2z0LLRg9C70LjRhtGPINCc0LDRgNGI0LDQu9CwINCR0ZbRgNGO0LfQvtCy0LAsIDE1LCDQn9C-0LvRgtCw0LLQsCwg0J_QvtC70YLQsNCy0YHRjNC60LAg0L7QsdC70LDRgdGC0YwsIDM2MDAw!5e1!3m2!1suk!2sua!4v1676852833684!5m2!1suk!2sua"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>
</section>
