<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section>
      <h2>MIMIHO</h2>
      <p>Ресторанно-готельний комплекс</p>
      <address>
        <h3>Ресторан</h3>
        <svg width="24" height="24">
          <use></use>
        </svg>
        <a href="">095 555 95 33</a>
        <h3>Готель</h3>
        <div>
          <svg width="24" height="24">
            <use></use>
          </svg>
          <a href="">066 849 10 89</a>
          <a href="">067 275 85 40</a>
        </div>
        <div>
          <svg width="24" height="24">
            <use></use>
          </svg>
          <p>Україна, м. Полтава, вул. Маршала Бірюзова, 15</p>
        </div>
      </address>
      <div style="overflow: hidden; width: 535px; position: relative">
        <iframe
          width="535"
          height="412"
          src="https://maps.google.com/maps?width=535&amp;height=412&amp;hl=en&amp;q=Poltava+(%D0%9D%D0%B0%D0%B7%D0%B2%D0%B0%D0%BD%D0%B8%D0%B5)&amp;ie=UTF8&amp;t=&amp;z=13&amp;iwloc=B&amp;output=embed"
          frameborder="0"
          scrolling="no"
          marginheight="0"
          marginwidth="0"
        >
        </iframe>
        <div
          style="
            position: absolute;
            width: 80%;
            bottom: 10px;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
            color: #000;
            text-align: center;
          "
        >
          <small style="line-height: 1.8; font-size: 2px; background: #fff"
            >Powered by
            <a href="https://embedgooglemaps.com/de/">embedgooglemaps DE</a> &
            <a href="https://harpangratis.se/">harpan online</a></small
          >
        </div>
        <style>
          #gmap_canvas img {
            max-width: none !important;
            background: none !important;
          }
        </style>
      </div>
      <br />
    </section>
  </body>
</html>
