<section class="details-hotel">
  <div class="details-hotel__container">
    <div class="details-hotel__container-first">
      <div class="details-hotel__text-wrapper">
        <p class="details-hotel__container-first-paragraph">міміно</p>
        <h2 class="details-hotel__container-first-title">Готель</h2>
        <p class="details-hotel__container-first-description">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit.
        </p>
      </div>
      <div class="details-hotel-slider__wrapper">
        <ul class="details-hotel-slider__list">
          <img
            src="../img/homepage/small-img/slider2/1-desk-1x.jpg"
            alt=""
            width="270"
            height="270"
          />
        </ul>
        <ul class="details-hotel-slider__buttons">
          <li class="details-hotel-slider__item">
            <svg class="details-hotel-slider__icon" width="32" height="32">
              <use href="../img/svg/sprite.svg#icon-arrow-left"></use>
            </svg>
          </li>
          <li class="details-hotel-slider__item">
            <svg class="details-hotel-slider__icon" width="32" height="32">
              <use href="../img/svg/sprite.svg#icon-arrow-right"></use>
            </svg>
          </li>
        </ul>
      </div>
    </div>
    <div class="details-hotel__container-second">
      <button class="details-hotel__container-second-btn" type="button">
        Забронювати номер
      </button>
      <a class="details-hotel__container-second-link" href=""
        >Переглянути меню</a
      >
    </div>
  </div>
</section>
