<section class="details-hotel">
  <div class="container">
    <div class="details-hotel__container">
      <div class="details-hotel__container-first">
        <div class="details-hotel__text-wrapper">
          <p class="details-hotel__container-first-paragraph" lang="en">MIMIHO</p>
          <h2 class="details-hotel__container-first-title">Готель</h2>
          <p class="details-hotel__container-first-description" lang="en">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit.
          </p>
        </div>
        <div class="details-hotel__slider">
          <ul class="details-hotel_slider-list">
            <li class="details-hotel_slider-item">
              <picture class="towell"> 
                <source
                srcset="
                ./img/homepage/small-img/slider4/3-desk-1x.jpg 1x,
                ./img/homepage/small-img/slider4/3-desk-2x.jpg 2x
                "
                media="(min-width: 1280px)"
                />
                <source
                srcset="
                ./img/homepage/small-img/slider4/3-tab-1x.jpg 1x,
                ./img/homepage/small-img/slider4/3-tab-2x.jpg 2x
                  "
                  media="(min-width: 1024px)"
                  />
                  <source
                    srcset="
                      ./img/homepage/small-img/slider4/3-mob-1x.jpg 1x,
                      ./img/homepage/small-img/slider4/3-mob-2x.jpg 2x
                    "
                    media="(min-width: 320px)"
                  />
                <img
                  class="details-hotel__slider-one"
                  src="./img/homepage/small-img/slider4/3-mob-2x.jpg"
                  alt="hotel slider four"
                />
              </picture>
            </li>
            <li class="details-hotel_slider-item">
              <picture class="towell">
                <source
                  srcset="
                    ./img/homepage/small-img/slider4/2-desk-1x.jpg 1x,
                    ./img/homepage/small-img/slider4/2-desk-2x.jpg 2x
                  "
                  media="(min-width: 1280px)"
                />
                
                <source
                srcset="
                ./img/homepage/small-img/slider4/2-tab-1x.jpg 1x,
                ./img/homepage/small-img/slider4/2-tab-2x.jpg 2x
                "
                media="(min-width: 1024px)"
                />
                <source
                  srcset="
                    ./img/homepage/small-img/slider4/2-mob-1x.jpg 1x,
                    ./img/homepage/small-img/slider4/2-mob-2x.jpg 2x
                  "
                  media="(min-width: 320px)"
                />
                <img
                  class="details-hotel__slider-two"
                  src="./img/homepage/small-img/slider4/2-mob-2x.jpg"
                  alt="hotel slider four"
                />
              </picture>
            </li>
            <li class="details-hotel_slider-item">
              <picture class="towell">
                <source
                  srcset="
                    ./img/homepage/small-img/slider4/1-desk-1x.jpg 1x,
                    ./img/homepage/small-img/slider4/1-desk-2x.jpg 2x
                  "
                  media="(min-width: 1280px)"
                />
                <source
                srcset="
                ./img/homepage/small-img/slider4/1-tab-1x.jpg 1x,
                ./img/homepage/small-img/slider4/1-tab-2x.jpg 2x
                "
                media="(min-width: 1024px)"
                />
                <source
                  srcset="
                    ./img/homepage/small-img/slider4/2-mob-1x.jpg 1x,
                    ./img/homepage/small-img/slider4/2-mob-2x.jpg 2x
                  "
                  media="(min-width: 320px)"
                />
                <img
                  class="details-hotel__slider-three"
                  src="./img/homepage/small-img/slider4/2-mob-2x.jpg"
                  alt="hotel slider four"
                />
              </picture>
            </li>
          </ul>
          <ul class="details-hotel-slider__buttons">
            <li class="details-hotel-slider__item">
              <svg class="details-hotel-slider__icon" width="32" height="32">
                <use href="./img/svg/sprite.svg#icon-arrow-left"></use>
              </svg>
            </li>
            <li class="details-hotel-slider__item">
              <svg class="details-hotel-slider__icon" width="32" height="32">
                <use href="./img/svg/sprite.svg#icon-arrow-right"></use>
              </svg>
            </li>
          </ul>
        </div>
      </div>
      <div class="details-hotel__container-second">
        <button class="details-hotel__container-second-btn js-open-modal" type="button" data-modal="2">
          Забронювати номер
        </button>
        <a class="details-hotel__container-second-link" href="./hotel.html"
          >Переглянути ціни</a
        >
      </div>
    </div>
  </div>
</section>
