    <section class="details-restauran">
      <a class="logo" href="./index.html">міміно</a>
      <h2 class="details-restauran__title">Ресторан</h2>
      <p class="details-restauran_subscription">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit.
      </p>
      <ul class="details-restaurant__list-slider">
        <li class="details-restauran__item-slider">
          <picture>
            <source
              srcset="./images/1.webp 1x, ./images/12x.webp 2x"
              media="(min-width: 1280px)"
              type="image/webp"
            />
            <source
              srcset="./images/1.webp 1x, ./images/12x.webp 2x"
              media="(min-width: 1280px)"
              type="image/webp"
            />
            <source
              srcset="./images/1.webp 1x, ./images/12x.webp 2x"
              media="(min-width: 1024px)"
              type="image/webp"
            />
            <source
              srcset="./images/1.webp 1x, ./images/12x.webp 2x"
              media="(min-width: 1024px)"
              type="image/webp"
            />
            <source
              srcset="./images/1.webp 1x, ./images/12x.webp 2x"
              media="(min-width: 414px)"
              type="image/webp"
            />
            <source
              srcset="./images/1.webp 1x, ./images/12x.webp 2x"
              media="(min-width: 414px)"
              type="image/webp"
            />
            <img
			  srcset="./images/our-team/1200/jpg/igordem-1200@2x.jpg 2x"
			  src="./images/our-team/1200/jpg/igordem-1200.jpg"
			  alt="asd"
			/>
        </li> 
                <li class="details-restauran__item-slider">
          <picture>
            <source
              srcset="./images/1.webp 1x, ./images/12x.webp 2x"
              media="(min-width: 1280px)"
              type="image/webp"
            />
            <source
              srcset="./images/1.webp 1x, ./images/12x.webp 2x"
              media="(min-width: 1280px)"
              type="image/webp"
            />
            <source
              srcset="./images/1.webp 1x, ./images/12x.webp 2x"
              media="(min-width: 1024px)"
              type="image/webp"
            />
            <source
              srcset="./images/1.webp 1x, ./images/12x.webp 2x"
              media="(min-width: 1024px)"
              type="image/webp"
            />
            <source
              srcset="./images/1.webp 1x, ./images/12x.webp 2x"
              media="(min-width: 414px)"
              type="image/webp"
            />
            <source
              srcset="./images/1.webp 1x, ./images/12x.webp 2x"
              media="(min-width: 414px)"
              type="image/webp"
            />
            <img
			  srcset="./images/our-team/1200/jpg/igordem-1200@2x.jpg 2x"
			  src="./images/our-team/1200/jpg/igordem-1200.jpg"
			  alt="asd"
			/>
        </li>
                <li class="details-restauran__item-slider">
          <picture>
            <source
              srcset="./images/1.webp 1x, ./images/12x.webp 2x"
              media="(min-width: 1280px)"
              type="image/webp"
            />
            <source
              srcset="./images/1.webp 1x, ./images/12x.webp 2x"
              media="(min-width: 1280px)"
              type="image/webp"
            />
            <source
              srcset="./images/1.webp 1x, ./images/12x.webp 2x"
              media="(min-width: 1024px)"
              type="image/webp"
            />
            <source
              srcset="./images/1.webp 1x, ./images/12x.webp 2x"
              media="(min-width: 1024px)"
              type="image/webp"
            />
            <source
              srcset="./images/1.webp 1x, ./images/12x.webp 2x"
              media="(min-width: 414px)"
              type="image/webp"
            />
            <source
              srcset="./images/1.webp 1x, ./images/12x.webp 2x"
              media="(min-width: 414px)"
              type="image/webp"
            />
            <img
			  srcset="./images/our-team/1200/jpg/igordem-1200@2x.jpg 2x"
			  src="./images/our-team/1200/jpg/igordem-1200.jpg"
			  alt="asd"
			/>
        </li>
      </ul>
      <ul>
        <li>
          <button type="button">
            <svg width="32" height="32">
              <use href="./images/svg/sprite.svg#icon-arrow-left"></use>
            </svg>
          </button>
        </li>
        <li>
          <button type="button">
            <svg width="32" height="32">
              <use href="./images/svg/sprite.svg#icon-arrow-right"></use>
            </svg>
          </button>
        </li>
      </ul>
      <ul>
        <li>
          <button type="button">Забронювати столик</button>
        </li>
        <li>
          <button type="button">Переглянути меню</button>
        </li>
      </ul>
    </section>