<section class="details-restaurant container">
  <div class="details-restaurant__div">
    <div class="details-restaurant__top-div">
      <a class="logo link" href="./index.html">міміно</a>
      <h2 class="details-restaurant__title">Ресторан</h2>
      <p class="details-restaurant_subscription">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit.
      </p>
    </div>
    <div class="details-restaurant__slider">
      <ul class="details-restaurant__slider-list list">
        <li class="details-restaurant__item-slider">
          <picture>
            <source
              srcset="./images/1.webp 1x, ./images/12x.webp 2x"
              media="(min-width: 1280px)"
              type="image/webp"
            />
            <source
              srcset="./images/1.webp 1x, ./images/12x.webp 2x"
              media="(min-width: 1280px)"
            />
            <source
              srcset="./images/1.webp 1x, ./images/12x.webp 2x"
              media="(min-width: 1024px)"
              type="image/webp"
            />
            <source
              srcset="./images/1.webp 1x, ./images/12x.webp 2x"
              media="(min-width: 1024px)"
            />
            <source
              srcset="./images/1.webp 1x, ./images/12x.webp 2x"
              media="(min-width: 414px)"
              type="image/webp"
            />
            <source
              srcset="./images/1.webp 1x, ./images/12x.webp 2x"
              media="(min-width: 414px)"
            />
            <img
              srcset="./images/our-team/1200/jpg/igordem-1200@2x.jpg 2x"
              src="./images/our-team/1200/jpg/igordem-1200.jpg"
              alt="asd"
            />
          </picture>
        </li>
        <li class="details-restaurant__item-slider">
          <picture>
            <source
              srcset="./images/1.webp 1x, ./images/12x.webp 2x"
              media="(min-width: 1280px)"
              type="image/webp"
            />
            <source
              srcset="./images/1.webp 1x, ./images/12x.webp 2x"
              media="(min-width: 1280px)"
            />
            <source
              srcset="./images/1.webp 1x, ./images/12x.webp 2x"
              media="(min-width: 1024px)"
              type="image/webp"
            />
            <source
              srcset="./images/1.webp 1x, ./images/12x.webp 2x"
              media="(min-width: 1024px)"
            />
            <source
              srcset="./images/1.webp 1x, ./images/12x.webp 2x"
              media="(min-width: 414px)"
              type="image/webp"
            />
            <source
              srcset="./images/1.webp 1x, ./images/12x.webp 2x"
              media="(min-width: 414px)"
            />
            <img
              srcset="./images/our-team/1200/jpg/igordem-1200@2x.jpg 2x"
              src="./images/our-team/1200/jpg/igordem-1200.jpg"
              alt="asd"
            />
          </picture>
        </li>
        <li class="details-restaurant__item-slider">
          <picture>
            <source
              srcset="./images/1.webp 1x, ./images/12x.webp 2x"
              media="(min-width: 1280px)"
              type="image/webp"
            />
            <source
              srcset="./images/1.webp 1x, ./images/12x.webp 2x"
              media="(min-width: 1280px)"
            />
            <source
              srcset="./images/1.webp 1x, ./images/12x.webp 2x"
              media="(min-width: 1024px)"
              type="image/webp"
            />
            <source
              srcset="./images/1.webp 1x, ./images/12x.webp 2x"
              media="(min-width: 1024px)"
            />
            <source
              srcset="./images/1.webp 1x, ./images/12x.webp 2x"
              media="(min-width: 414px)"
              type="image/webp"
            />
            <source
              srcset="./images/1.webp 1x, ./images/12x.webp 2x"
              media="(min-width: 414px)"
            />
            <img
              srcset="./images/our-team/1200/jpg/igordem-1200@2x.jpg 2x"
              src="./images/our-team/1200/jpg/igordem-1200.jpg"
              alt="asd"
            />
          </picture>
        </li>
      </ul>
      <ul class="slider-list list">
        <li class="slider-list__item">
          <button class="slider-list__button" type="button">
            <svg class="slider__icon" width="32" height="32">
              <use href="../img/svg/sprite.svg#icon-arrow-left"></use>
            </svg>
          </button>
        </li>
        <li class="slider-list__item">
          <button class="slider-list__button" type="button">
            <svg class="slider__icon" width="32" height="32">
              <use href="../img/svg/sprite.svg#icon-arrow-right"></use>
            </svg>
          </button>
        </li>
      </ul>
    </div>
    <ul class="button-list list">
      <li class="button-list__item">
        <button class="button-list__button" type="button">
          Забронювати столик
        </button>
      </li>
      <li class="button-list__item">
        <a href="" class="button-list__link link">Переглянути меню</a>
      </li>
    </ul>
  </div>
</section>
