<footer class="footer">
  <div class="footer-items">
    <!-- LOGO -->
    <a href="" class="footer__logo link"> MIMIHO </a>
    <!-- LISTS -->
    <div class="footer-lists">
      <!-- NAV SITE LIST -->
      <nav>
        <ul class="footer-lists__list">
          <li class="item">
            <a href="" class="footer-lists__links link">Головна</a>
          </li>
          <li class="item">
            <a href="" class="footer-lists__links link">Ресторан</a>
          </li>
          <li class="item">
            <a href="" class="footer-lists__links link">Готель</a>
          </li>
        </ul>
      </nav>
      <!-- SOCIAL LIST -->
      <ul class="social-links">
        <li class="item">
          <a href="" class="link"
            ><span class="social-links__text">Telegram</span>
            <svg width="24" height="24" class="social-links__icon">
              <use href="./img/svg/sprite.svg#icon-telegram"></use>
            </svg>
          </a>
          <a href="">
            <svg width="24" height="24" class="social-links__icon">
              <use href="./img/svg/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="item">
          <a href="" class="link"
            ><span class="social-links__text">Facebook</span>
            <svg width="24" height="24" class="social-links__icon">
              <use href="./img/svg/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
          <a href="">
            <svg width="24" height="24" class="social-links__icon">
              <use href="./img/svg/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="item">
          <a href="" class="link"
            ><span class="social-links__text">Instagram</span>
            <svg width="24" height="24" class="social-links__icon">
              <use href="./img/svg/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
          <a href="">
            <svg width="24" height="24" class="social-links__icon">
              <use href="./img/svg/sprite.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
