<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/styles.css" />
    <link rel="stylesheet" href="../css/footer.css" />
  </head>
  <body>
    <footer class="footer">
      <div class="footer-items">
        <a href="" class="logo link">
          <span>MIMIHO</span>
        </a>
        <div class="footer-lists">
          <nav>
            <ul class="footer-nav-list">
              <li class="item">
                <a href="" class="nav-links link">Головна</a>
              </li>
              <li class="item">
                <a href="" class="nav-links link">Ресторан</a>
              </li>
              <li class="item">
                <a href="" class="nav-links link">Готель</a>
              </li>
            </ul>
          </nav>
          <ul class="social-links">
            <li>
              <a href="" class="link"
                ><span class="social-text">Telegram</span>
                <svg width="24" height="24">
                  <use></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="" class="link"
                ><span class="social-text">Facebook</span>
                <svg width="24" height="24">
                  <use></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="" class="link"
                ><span class="social-text">Instagram</span>
                <svg width="24" height="24">
                  <use></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </footer>
  </body>
</html>
