<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <footer>
      <h2>MIMIHO</h2>
      <nav>
        <ul>
          <li>
            <a href="">Головна</a>
          </li>
          <li>
            <a href="">Ресторан</a>
          </li>
          <li>
            <a href="">Готель</a>
          </li>
        </ul>
      </nav>
      <ul>
        <li>
          <a href="">Telegram</a>
          <svg width="24" height="24">
            <use></use>
          </svg>
        </li>
        <li>
          <a href="">Facebook</a>
          <svg width="24" height="24">
            <use></use>
          </svg>
        </li>
        <li>
          <a href="">Instagram</a>
          <svg width="24" height="24">
            <use></use>
          </svg>
        </li>
      </ul>
    </footer>
  </body>
</html>