<header class="header">
  <div class="container">
    <nav class="header__nav">
      <a href="./index.html" class="header__logo">MIMINO</a>
      <ul class="header__list">
        <li class="header__item">
          <a class="header__link" href="./restaurant.html">Ресторан</a>
          <a class="header__tel" href="tel:0955559533"
            ><svg class="header__svg" width="24" height="24">
              <use href="./img/svg/sprite.svg#icon-phone"></use></svg
            ><span class="header__number">095 555 95 33</span></a
          >
        </li>
        <li class="header__item">
          <a class="header__link" href="./hotel.html">Готель</a>
          <a class="header__tel" href="tel:0668491089"
            ><svg class="header__svg" width="24" height="24">
              <use href="./img/svg/sprite.svg#icon-phone"></use></svg
            ><span class="header__number">066 849 10 89</span></a
          >
        </li>
      </ul>
    </nav>
    <ul class="header__contacts-list">
      <li class="header__contacts-item">
        <a
          class="header__contacts-link"
          href="https://www.instagram.com/mimino.poltava/"
          target="_blank"
          rel="noreferrer noopener"
        >
          <svg class="hero__contacts-icon" width="24px" height="24px">
            <use href="./img/svg/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="header__contacts-item">
        <a
          class="header__contacts-link"
          href="https://www.facebook.com/"
          target="_blank"
          rel="noreferrer noopener"
        >
          <svg class="header__contacts-icon" width="24px" height="24px">
            <use href="./img/svg/sprite.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="header__contacts-item">
        <a
          class="header__contacts-link"
          href="https://web.tlgrm.app/"
          target="_blank"
          rel="noreferrer noopener"
        >
          <svg class="header__contacts-icon" width="24px" height="24px">
            <use href="./img/svg/sprite.svg#icon-telegram"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</header>
