<nav>
  <a href="../index.html">MIMINO</a>
  <ul>
    <li>
      <a href="../restaurant.html">Ресторан</a>
      <a href="tel:0955559533">095 555 95 33</a>
    </li>
    <li>
      <a href="../hotel.html">Готель</a>
      <a href="tel:0668491089">066 849 10 89</a>
    </li>
  </ul>
</nav>
<ul>
  <li>
    <a href="">
      <svg width="22" height="22">
        <use href="../img/svg/icons/instagram.svg"></use>
      </svg>
    </a>
  </li>

  <li>
    <a href="">
      <svg width="22" height="22">
        <use href="../img/svg/icons/facebook.svg"></use>
      </svg>
    </a>
  </li>

  <li>
    <a href="">
      <svg width="22" height="22">
        <use href="../img/svg/icons/telegram.svg"></use>
      </svg>
    </a>
  </li>
</ul>
