<header class="header">
  <div class="container">
    <nav class="header__nav">
      <a href="./index.html" class="header__logo">MIMINO</a>
      <ul class="header__list">
        <li class="header__item">
          <a class="header__link" href="./restaurant.html">Ресторан</a>
          <a class="header__tel " href="tel:0955559533"><svg class="header__svg" width="12" height="20">
              <use href="./img/svg/icons/phone.svg"></use>
            </svg> 095 555 95 33</a>
        </li>
        <li>
          <a class="header__link" href="./hotel.html">Готель</a>
          <a class="header__tel" href="tel:0668491089"><svg class="header__svg" width="12" height="20">
              <use href="./img/svg/icons/phone.svg"></use>
            </svg>066 849 10 89</a>
        </li>
      </ul>
    </nav>
    <ul class="header__list-soc">
      <li>
        <a href="">
          <svg width="22" height="22">
            <use href="./img/svg/icons/instagram.svg"></use>
          </svg>
        </a>
      </li>

      <li>
        <a href="">
          <svg width="22" height="22">
            <use href="./img/svg/icons/facebook.svg"></use>
          </svg>
        </a>
      </li>

      <li>
        <a href="">
          <svg width="22" height="22">
            <use href="./img/svg/icons/telegram.svg"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</header>