<div class="room-hero__overlay">
  <section class="room-hero">
    <a class="hero-adress__link" href="https://goo.gl/maps/bPco8az8Pxiguq2k8" target="_blank" rel="noreferrer noopener">
      <svg class="icon-location" width="20" height="20">
        <use href="./img/svg/sprite.svg#icon-location"></use>
      </svg>
      <span class="location__sub"> Україна, м. Полтава,<p> вул. Маршала Бірюзова, 15</p></span>
    </a>
    <div class="room-hero__btns">
      <button class="room-hero__btn" type="button">
        <svg class="arrow-icon" width="40px" height="40px">
          <use href="./img/svg/sprite.svg#icon-arrow-left"></use>
        </svg>
      </button>
      <button class="room-hero__btn" type="button">
        <svg class="arrow-icon" width="40px" height="40px">
          <use href="./img/svg/sprite.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
    <h1 class="room-hero__title">ДВОМІСНИЙ НОМЕР люкс</h1>
    <p class="room-hero__sub">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <div class="room-hero__thumb">
      <ul class="hero__contacts-list">
        <li class="hero__contacts-item">
          <a class="hero__contacts-link" href="">
            <svg class="hero__contacts-icon" width="24px" height="24px">
              <use href="./img/svg/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="hero__contacts-item">
          <a class="hero__contacts-link" href="">
            <svg class="hero__contacts-icon" width="24px" height="24px">
              <use href="./img/svg/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="hero__contacts-item">
          <a class="hero__contacts-link" href="">
            <svg class="hero__contacts-icon" width="24px" height="24px">
              <use href="./img/svg/sprite.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
      </ul>
      <button type="button" class="hero-prices__btn">Переглянути ціни</button>
    </div>
  </section>
</div>
