<div class="room-hero__overlay">
  <section class="room-hero__section">
    <!-- ADRESS-LINK -->
    <a
      class="hero-adress__link"
      href="https://goo.gl/maps/bPco8az8Pxiguq2k8"
      target="_blank"
      rel="noreferrer noopener"
    >
      <svg class="icon-location" width="20" height="20">
        <use href="./img/svg/sprite.svg#icon-location"></use>
      </svg>
      <p class="location__sub">
        Україна, м. Полтава,
        <span>вул. Маршала Бірюзова, 15</span>
      </p>
    </a>
    <!-- SLIDER -->
    <ul class="room-hero__btns">
      <li class="room-hero__item-btns">
        <button class="room-hero__btn" type="button">
          <svg class="arrow-icon" width="40px" height="40px">
            <use href="./img/svg/sprite.svg#icon-arrow-left"></use>
          </svg>
        </button>
      </li>
      <li class="room-hero__item-btns">
        <button class="room-hero__btn" type="button">
          <svg class="arrow-icon" width="40px" height="40px">
            <use href="./img/svg/sprite.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </li>
    </ul>
    <!-- TITLES -->
    <h1 class="room-hero__title hero__title">ДВОМІСНИЙ НОМЕР люкс</h1>
    <p class="room-hero__sub hero__sub">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <!-- SOCIAL-LIST -->
    <div class="room-hero__thumb">
      <ul class="room__soc-list">
        <li class="room__soc-item">
          <a
            class="hero__soc-link"
            href="https://www.instagram.com/mimino.poltava/"
            target="_blank"
            rel="noreferrer noopener"
          >
            <svg class="hero__soc-icon" width="24px" height="24px">
              <use href="./img/svg/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="room__soc-item">
          <a
            class="hero__soc-link"
            href="https://www.facebook.com/"
            target="_blank"
            rel="noreferrer noopener"
          >
            <svg class="hero__soc-icon" width="24px" height="24px">
              <use href="./img/svg/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="room__soc-item">
          <a
            class="hero__soc-link"
            href="https://web.tlgrm.app/"
            target="_blank"
            rel="noreferrer noopener"
          >
            <svg class="hero__soc-icon" width="24px" height="24px">
              <use href="./img/svg/sprite.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
      </ul>
      <!-- ROOM-BTN -->
      <button
        type="button"
        class="room__prices-btn js-open-modal btn hero-btn"
        data-modal="4"
      >
        Переглянути ціни
      </button>
    </div>
  </section>
</div>
