<div class="main-hero__overlay">
  <section class="hero__section">
    <a
      class="hero-adress__link"
      href="https://goo.gl/maps/bPco8az8Pxiguq2k8"
      target="_blank"
      rel="noreferrer noopener"
    >
      <svg class="icon-location" width="20" height="20">
        <use href="./img/svg/sprite.svg#icon-location"></use>
      </svg>
      <span class="location__sub">
        Україна, м. Полтава,
        <p>вул. Маршала Бірюзова, 15</p></span
      >
    </a>
    <h1 class="main-hero__title">
      <a href="../index.html" class="main-page__link">MIMIHO</a>
    </h1>
    <p class="main-hero__category">Ресторанно-готельний комплекс</p>
    <p class="main-hero__sub">СМАК ЖИТТЯ 24/7</p>
    <ul class="hero__btns-list">
      <li class="hero__btns-item">
        <button class="main hero__prices-btn js-open-modal" data-modal="1" type="button">Забронювати столик</button>
      </li>
      <li class="hero__btns-item">
        <button class="main hero__prices-btn js-open-modal" data-modal="2" type="button">Забронювати номер</button>
      </li>
    </ul>
    <ul class="hero__soc-list">
      <li class="hero__soc-item">
        <a class="hero__soc-link" href="">
          <svg class="hero__soc-icon" width="24px" height="24px">
            <use href="./img/svg/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="hero__soc-item">
        <a class="hero__soc-link" href="">
          <svg class="hero__soc-icon" width="24px" height="24px">
            <use href="./img/svg/sprite.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="hero__soc-item">
        <a class="hero__soc-link" href="">
          <svg class="hero__soc-icon" width="24px" height="24px">
            <use href="./img/svg/sprite.svg#icon-telegram"></use>
          </svg>
        </a>
      </li>
    </ul>
  </section>
</div>
