<section class="menu">
  <div class="container">
  <h2 class="menu__title">МЕНЮ РЕСТОРАНУ</h2>
  <div class="menu-content">
  <div class="menu__left">
  <div class="menu__hot">
    <h3 class="menu__list-title">Гарячі страви</h3>
    <ul class="menu__list list">
      <li class="menu__item">
        <h4 class="menu__item-title">Борщ з телятини з квасолею</h4>
        <div class="abount">
        <p class="menu__item-texte">Телятина, картопля, капуста, морква, цибуля, квасоля, часник, помідори, зелень, сметана</p>
         <div class="category">
         <span class="menu__item-weight">400 г</span> 
         <span class="menu__item-price">240 грн</span>
         </div>
        </div>
      </li>
      <li class="menu__item">
        <h4 class="menu__item-title">Суп сирний з куркою</h4>
        <div class="abount">
        <p class="menu__item-texte">Курятина, картопля, морква, цибуля, печериці, сир м’який, зелень</p>
          <div class="category">
          <span class="menu__item-weight">400 г</span> 
          <span class="menu__item-price">200 грн</span>
          </div>
        </div>
      </li>
      <li class="menu__item">
        <h4 class="menu__item-title">Паста карбонара</h4>
        <div class="abount">
        <p class="menu__item-texte">Паста тальятеле, бекон, вершки, сир пармезан, яйце, зелень</p>
         <div class="category">
         <span class="menu__item-weight">350 г</span> 
         <span class="menu__item-price">430 грн</span>
         </div>
        </div>
      </li>
      <li class="menu__item">
        <h4 class="menu__item-title">Стейк зі свинини</h4>
        <div class="abount">
        <p class="menu__item-texte">Свиняча вирізка, спеціі, подається з соусом солодкий чилі та овочами</p>
          <div class="category">
          <span class="menu__item-weight">400 г</span> 
          <span class="menu__item-price">500 грн</span>
          </div>
        </div>
      </li>
      <li class="menu__item">
        <h4 class="menu__item-title">Горбуша в соусі з білого вина</h4>
        <div class="abount">
        <p class="menu__item-texte">Ніжна горбуша, вершковий соус на основі білого вина</p>
          <div class="category">
          <span class="menu__item-weight">400 г</span> 
          <span class="menu__item-price">400 грн</span>
          </div>
        </div>
      </li>
  </ul>
  </div>
  <div class="menu__garnish">
    <h3 class="menu__list-title">Гарніри та закуски</h3>
    <ul class="menu__list list">
      <li class="menu__item">
        <h4 class="menu__item-title">Запечені овочі</h4>
        <div class="abount">
        <p class="menu__item-texte">Кабачок, перець, помідор, баклажан</p>
         <div class="category">
         <span class="menu__item-weight">200 г</span> 
         <span class="menu__item-price">240 грн</span>
         </div>
        </div>
      </li>
      <li class="menu__item">
        <h4 class="menu__item-title">Картопля фрі</h4>
        <div class="abount">
        <p class="menu__item-texte">Картопля, соус томатний</p>
          <div class="category">
          <span class="menu__item-weight">150 г</span> 
          <span class="menu__item-price">160 грн</span>
          </div>
        </div>
      </li>
      <li class="menu__item">
        <h4 class="menu__item-title">Картопля по-селянськи</h4>
        <div class="abount">
        <p class="menu__item-texte">Картопля, спеції, соус пікантний</p>
         <div class="category">
         <span class="menu__item-weight">150 г</span> 
         <span class="menu__item-price">160 грн</span>
         </div>
        </div>
      </li>
      <li class="menu__item">
        <h4 class="menu__item-title">Хрумкі соління з бочки</h4>
        <div class="abount">
        <p class="menu__item-texte">Огірок солений, помідор квашений, квашена капуста, морква по-корейські</p>
          <div class="category">
          <span class="menu__item-weight">250 г</span> 
          <span class="menu__item-price">350 грн</span>
          </div>
        </div>
      </li>
      <li class="menu__item">
        <h4 class="menu__item-title">Крильця курячі в медовому соусі</h4>
        <div class="abount">
        <p class="menu__item-texte">Крильця курячі, гірчично-медовий соус, подається з морквою, селерою і соусом блючиз</p>
          <div class="category">
          <span class="menu__item-weight">400 г</span> 
          <span class="menu__item-price">420 грн</span>
          </div>
        </div>
      </li>
  </ul>
  </div>
  </div>
  <div class="menu__right">
  <div class="menu__salad">
    <h3 class="menu__list-title">Салати</h3>
    <ul class="menu__salad-list list">
      <li class="menu__item">
        <h4 class="menu__item-title">Цезар з куркою</h4>
        <div class="abount">
        <p class="menu__item-texte">Куряче філе, листя салату, помідори чері, сир пармезан, грінки, соус цезар</p>
         <div class="category">
         <span class="menu__item-weight">230 г</span> 
         <span class="menu__item-price">450 грн</span>
         </div>
        </div>
      </li>
      <li class="menu__item">
        <h4 class="menu__item-title">Цезар з креветками</h4>
        <div class="abount">
        <p class="menu__item-texte">Тигрові креветки, листя салату, помідори чері, сир пармезан, грінки, соус цезар</p>
          <div class="category">
          <span class="menu__item-weight">230 г</span> 
          <span class="menu__item-price">300 грн</span>
          </div>
        </div>
      </li>
      <li class="menu__item">
        <h4 class="menu__item-title">Грецький салат</h4>
        <div class="abount">
        <p class="menu__item-texte">Свіжі огірок, помідор, болгарський перець, оливки, сир бринза, листя салату, соус</p>
         <div class="category">
         <span class="menu__item-weight">230 г</span> 
         <span class="menu__item-price">280 грн</span>
         </div>
        </div>
      </li>
      <li class="menu__item">
        <h4 class="menu__item-title">М’ясний салат</h4>
        <div class="abount">
        <p class="menu__item-texte">Куряче філе або свиняча вирізка, свіжі огірок, помідор, болгарський перець, соус ранч</p>
          <div class="category">
          <span class="menu__item-weight">230 г</span> 
          <span class="menu__item-price">300 грн</span>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="menu__desert">
    <h3 class="menu__list-title">Десерти </h3>
    <ul class="menu__list list">
      <li class="menu__item">
        <div class="abount">
        <h4 class="menu__item-title">Торт наполеон</h4>
         <div class="category">
         <span class="menu__item-weight">230 г</span> 
         <span class="menu__item-price">300 грн</span>
         </div>
        </div>
        </li>
      <li class="menu__item">
        <div class="abount">
        <h4 class="menu__item-title">Торт маковий</h4>
         <div class="category">
         <span class="menu__item-weight">230 г</span> 
         <span class="menu__item-price">300 грн</span>
         </div>
        </div>
      </li>
      <li class="menu__item">
        <div class="abount">
        <h4 class="menu__item-title">Тірамісу</h4>
         <div class="category">
         <span class="menu__item-weight">120 г</span> 
         <span class="menu__item-price">260 грн</span>
         </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="menu__rinks">
    <h3 class="menu__list-title">Напої </h3>
    <ul class="menu__list list">
      <li class="menu__item">
        <div class="abount">
        <h4 class="menu__item-title">Чай чорний/зелений</h4>       
         <div class="category">
         <span class="menu__item-weight">500 мл</span> 
         <span class="menu__item-price">100 грн</span>
         </div>
        </div>
        </li>
      <li class="menu__item">
        <div class="abount">
        <h4 class="menu__item-title">Еспресо</h4>
         <div class="category">
         <span class="menu__item-weight">30 мл</span> 
         <span class="menu__item-price">100 грн</span>
        </div>
        </div>
      </li>
      <li class="menu__item">
        <div class="abount">
        <h4 class="menu__item-title">Американо</h4>
         <div class="category">
         <span class="menu__item-weight">150 мл</span> 
         <span class="menu__item-price">100 грн</span>
         </div>
        </div>
      </li>
      <li class="menu__item">
        <div class="abount">
        <h4 class="menu__item-title">Капучино</h4>
         <div class="category">
         <span class="menu__item-weight">200 мл</span> 
         <span class="menu__item-price">160 грн</span>
         </div>
        </div>
      </li>
      <li class="menu__item">
        <div class="abount">
        <h4 class="menu__item-title">Лате</h4>
         <div class="category">
         <span class="menu__item-weight">200 мл</span> 
         <span class="menu__item-price">160 грн</span>
         </div>
        </div>
      </li>
    </ul>
  </div>
  </div>
  </div>
        <button type="button" class="menu__btn">Забронювати столик</button>
  </div>
</section> 
