<section class="triple">
  <div class="container triple__container">
    <div class="triple__description">
      <p class="triple__subtitle">Amet minim mollit non</p>
      <p class="triple__logo">MIMIHO</p>
      <div class="triple__subtitle-wraper">
        <h2 class="triple__title">ТРЬОХМІСНИЙ НОМЕР</h2>
        <p class="triple__text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
    </div>
    <div class="triple__main-pictures">
      <picture class="main-pictures">
        <source srcset="./img/hotel/3-mob-1x.jpg, ./img/hotel/3-mob-2x.jpg 2x" media="(max-width: 1023px)" />
        <source srcset="./img/hotel/3-tab-1x.jpg, ./img/hotel/3-tab-2x.jpg 2x" media="(max-width: 1279px)" />
        <source srcset="./img/hotel/3-desk-1x.jpg, ./img/hotel/3-desk-2x.jpg 2x" media="(min-width: 1280px)" />
        <img src="./img/hotel/3-mob-1x.jpg" alt="modern-studio-apartment-design-with-bedroom-living-space" />
      </picture>
    </div>
    <div class="triple__continer-pictures">
      <div>
        <ul class="triple__pictures-list">
          <li class="triple__pictures-item">
            <picture>
              <source srcset="
                  ./img/hotel/small-img/3-mob-1x.jpg,
                  ./img/hotel/small-img/3-mob-2x.jpg 2x
                " media="(max-width: 1023px)" />
              <source srcset="
                  ./img/hotel/small-img/3-mob-1x.jpg,
                  ./img/hotel/small-img/3-mob-2x.jpg 2x
                " media="(max-width: 1279px)" />
              <source srcset="
                  ./img/hotel/small-img/3-desk-1x.jpg,
                  ./img/hotel/small-img/3-desk-2x.jpg 2x
                " media="(min-width: 1280px)" />
              <img src="./img/hotel/small-img/3-mob-1x.jpg" alt="bathroom" />
            </picture>
          </li>
          <li class="triple__pictures-item">
            <picture>
              <source srcset="
                  ./img/hotel/small-img/5-mob-1x.jpg,
                  ./img/hotel/small-img/5-mob-2x.jpg 2x
                " media="(max-width: 1023px)" />
              <source srcset="
                  ./img/hotel/small-img/5-mob-1x.jpg,
                  ./img/hotel/small-img/5-mob-2x.jpg 2x
                " media="(max-width: 1279px)" />
              <source srcset="
                  ./img/hotel/small-img/5-desk-1x.jpg,
                  ./img/hotel/small-img/5-desk-2x.jpg 2x
                " media="(min-width: 1280px)" />
              <img src="./img/hotel/small-img/5-mob-1x.jpg" alt="living room" />
            </picture>
          </li>
        </ul>
        <ul class="triple__arrow-list">
          <li class="triple__arrow-item">
            <button type="button" class="button__arrow">
              <svg width="32" height="32">
                <use href="./img/svg/sprite.svg#icon-arrow-left"></use>
              </svg>
            </button>
          </li>
          <li class="triple__arrow-item">
            <button type="button" class="button__arrow">
              <svg width="32" height="32">
                <use href="./img/svg/sprite.svg#icon-arrow-right"></use>
              </svg>
            </button>
          </li>
        </ul>
      </div>
      <ul class="triple__button-list">
        <li class="triple__button-item">
          <a href="./room.html" class="triple__button-link btn section-btn">
            Детальніше</a>
        </li>
        <li class="triple__button-item">
          <button class="triple__btn btn section-btn js-open-modal" data-modal="5" type="button">
            Переглянути ціни
          </button>
        </li>
      </ul>
    </div>
  </div>
</section>