<section class="triple__room">
  <div class="container triple">
    <div>
      <p class="triple__room-subtitle">Amet minim mollit non</p>
      <p class="triple__rom-logo">MIMINO</p>
    </div>
    <div class="triple__room-description">
      <h2 class="triple__room-title">ТРЬОХМІСНИЙ НОМЕР</h2>
      <p class="triple__room-txt">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim
        velit
        mollit. Exercitation veniam consequat sunt nostrud amet.
      </p>
    </div>
    <div class="triple__room-picture">
      <picture class="main__pic">
        <source srcset="./img/hotel/3-mob-1x.jpg, ./img/hotel/3-mob-2x.jpg 2x" media="(max-width: 1023px)" />
        <source srcset="./img/hotel/3-tab-1x.jpg, ./img/hotel/3-tab-2x.jpg 2x" media="(max-width: 1279px)" />
        <source srcset="./img/hotel/3-desk-1x.jpg, ./img/hotel/3-desk-2x.jpg 2x" media="(min-width: 1280px)" />
        <img src="./img/hotel/3-mob-1x.jpg" alt="modern-studio-apartment-design-with-bedroom-living-space" />
      </picture>
    </div>
    <div class="picture__list triple__room-img">
      <ul class="room-pic__list triple__picture-list">
        <li class="item">
          <picture>
            <source srcset="
                            ./img/hotel/small-img/5-mob-1x.jpg,
                            ./img/hotel/small-img/5-mob-2x.jpg 2x
                          " media="(max-width: 1023px)" />
            <source srcset="
                            ./img/hotel/small-img/5-mob-1x.jpg,
                            ./img/hotel/small-img/5-mob-2x.jpg 2x" media="(max-width: 1279px)" />
            <source srcset="
                            ./img/hotel/small-img/5-desk-1x.jpg,
                            ./img/hotel/small-img/5-desk-2x.jpg 2x
                          " media="(min-width: 1280px)" />
            <img src="./img/hotel/small-img/5-mob-1x.jpg" alt="arrangement-pf-bathroom-elements-self-care" />
          </picture>
        </li>
        <li class="item">
          <picture>
            <source srcset="
                            ./img/hotel/small-img/3-mob-1x.jpg,
                            ./img/hotel/small-img/3-mob-2x.jpg 2x
                          " media="(max-width: 1023px)" />
            <source srcset="
                            ./img/hotel/small-img/3-mob-1x.jpg,
                            ./img/hotel/small-img/3-mob-2x.jpg 2x" media="(max-width: 1279px)" />
            <source srcset="
                            ./img/hotel/small-img/3-desk-1x.jpg,
                            ./img/hotel/small-img/3-desk-2x.jpg 2x
                          " media="(min-width: 1280px)" />
            <img src="./img/hotel/small-img/3-mob-1x.jpg" alt="cup-tea-stands-wooden-windowsill" />
          </picture>
        </li>
      </ul>
      <ul class="arrow__list triple__rom-arrow">
        <li class="item">
          <button type="button" class="button__arrow">
            <svg width="32" height="32">
              <use href="./img/svg/sprite.svg#icon-arrow-left"></use>
            </svg>
          </button>
        </li>
        <li class="item">
          <button type="button" class="button__arrow">
            <svg width="32" height="32">
              <use href="./img/svg/sprite.svg#icon-arrow-right"></use>
            </svg>
          </button>
        </li>
      </ul>
    </div>
    <div class="buttons">
      <ul class="button__list">
        <li class="item">
          <a href="./room.html" class="room__link"> Детальніше</a>
        </li>
        <li class="item">
          <button class="room__button" type="button">
            Переглянути ціни
          </button>
        </li>
      </ul>
    </div>
  </div>
</section>