.about-kitchen {
  
}

.about-kitchen-top-content {
  display: flex;
  justify-content: center;
  align-items: center;
}


.about-kitchen-top-inner {
  width: 515px;
  margin-right: 26px;
}


.about-kitchen-top-subtitle {
  font-family: 'Times New Roman';
  font-weight: 400;
  font-size: 32px;
  line-height: 1.1;
  color: #B4B4B4;
  margin-bottom: 4px;
}

.about-kitchen-logo {
  margin-bottom: 24px;
}

.about-kitchen-logo-link {
  font-family: 'Film P3';
  font-weight: 700;
  font-size: 64px;
  line-height: 1.1;
  letter-spacing: 0.3em;
  color: #494848;
}

.about-kitchen-top-text {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #7A7A7A;
  
}

.about-kitchen-top-img {
  margin-top: -32px;
}

.about-kitchen-bottom-content {
  
}

.about-kitchen-bottom-img {
  
}

.about-kitchen-bottom-text {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #C79002;
}

.about-kitchen-slider-photos {
  
}

.about-kitchen-slider-photo {
  
}

.about-kitchen-top-text {

}

.about-kitchen-top-img {

}

.about-kitchen-bottom-content {

}

.about-kitchen-bottom-img {

}

.about-kitchen-bottom-text {

}

.about-kitchen-slider-photos {

}

.about-kitchen-slider-photo {

}

.about-kitchen-arrow {

}

.about-kitchen-arrow-left {

}

.about-kitchen-arrow-right {

}