.about_hotel {
  position: relative;
  background-color: var(--bg-light-section);
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.about_hotel_text {
  text-align: right;
  font-family: "Times New Roman";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.08;
  color: var(--overhead-title-text);
}
.about_hotel_title {
  margin-top: 6px;
  margin-right: -12px;
  margin-bottom: 16px;
  text-align: right;
  font-family: "Film P3";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.08;
  letter-spacing: 0.3em;

  color: var(--title-mimino-color);
}
.about_hotel_room_one {
  margin-left: auto;
  margin-right: 0;
  margin-bottom: 28px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.08;
  letter-spacing: 0.02em;

  color: var(--text-grey-color);
}
.about_hotel_room_two {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 24px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.08;
  letter-spacing: 0.02em;

  color: var( --brown-color);
}
.hotel_photo {
  display: flex;
  margin-top: 32px;
  margin-bottom: 32px;
}
.studio_apartment_one,
.studio_apartment_two,
.about_hotel_slider_one,
.about_hotel_slider_two {
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  background: #dadada;
  border-radius: 2px;
}
.slide_btn_left {
  margin-right: 32px;
}
.about_hotel_slider {
  display: flex;
}

.slide_btn {
  margin-left: 2px;
}
.svg_btn_left,
.svg_btn_right {
  width: 32px;
  height: 32px;
}

@media screen and (min-width: 320px) and (max-width: 1023px) {
  .about_hotel > .container {
    overflow: hidden;
  }
  .about_hotel {
    padding-top: 18px;
    padding-bottom: 28px;
  }
  .about_hotel_room_one {
    padding-left: 143px;
  }
  .about_hotel_room_two {
    max-width: 163px;
  }

  .about_hotel_slider {
    position: relative;
    left: -205px;
  }

  .about_hotel_slider_item {
    margin-right: 20px;
  }

  .hotel_photo {
    display: flex;
    margin-top: 32px;
    margin-bottom: 32px;
    justify-content: space-around;
  }

  .about_hotel_slider_one {
    opacity: 0.6;
  }

  .about_hotel_slider_one,
  .about_hotel_slider_two {
    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
    max-width: 245px;
  }
  .slide_btn {
    margin-top: 28px;
  }
}
/* =============MEDIA TABLETS============ */

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .about_hotel {
    padding-top: 120px;
    padding-bottom: 40px;
  }
  .about_hotel_text {
    font-size: 32px;
  }
  .about_hotel_title {
    text-align: right;
    margin-top: 4px;
    margin-bottom: 24px;
    font-size: 64px;
    line-height: 1.08;
  }
  .about_hotel_room_one {
    width: 419px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.08;
    letter-spacing: 0.02em;
    margin-bottom: 146px;
  }
  .about_hotel_room_two {
    width: 312px;
    font-size: 16px;
    line-height: 1.08;
    letter-spacing: 0.02em;
  }

  .studio_apartment_one {
    position: absolute;
    top: -30px;
    margin-left: 65px;
  }

  .hotel_photo {
    justify-content: right;
    margin-bottom: 217px;
  }

  .slide_btn {
    position: absolute;
    bottom: 40px;
    margin-left: 28px;
  }

  .about_hotel_slider {
    position: absolute;
    margin-left: 28px;
    bottom: 96px;
    justify-content: left;
    flex-direction: row-reverse;
  }
  .about_hotel_slider_item {
    margin-left: 40px;
  }
}

/* ==============DESCKTOP================================== */

@media screen and (min-width: 1280px) {
  .about_hotel {
    padding-top: 120px;
    padding-bottom: 58px;
  }
  .about_hotel_title {
    text-align: right;
    margin-top: 4px;
    margin-bottom: 24px;
    margin-right: -25px;
    font-size: 64px;
    line-height: 1.08;
  }
  .about_hotel_room_one {
    width: 488px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.08;
    letter-spacing: 0.02em;
    margin-bottom: 162px;
  }
  .about_hotel_room_two {
    width: 311px;
    margin-right: 24px;
    font-size: 16px;
    line-height: 1.08;
    letter-spacing: 0.02em;
  }

  .studio_apartment_one {
    margin-left: 95px;
    position: absolute;
    top: -20px;
  }

  .hotel_photo {
    justify-content: right;
    margin-bottom: 197px;
  }
  .slide_btn {
    position: absolute;
    bottom: 58px;
  }

  .about_hotel_slider {
    display: flex;
    position: absolute;
    bottom: 122px;
    justify-content: left;
    flex-direction: row-reverse;
  }

  .about_hotel_slider_item {
    margin-left: 40px;
  }
}
