.about-restaurant {
  background-color: var(--bg-light-section);
}

.about-restaurant-container {
  padding-top: 16px;
  padding-bottom: 28px;
}

.about-restaurant-top-content {
  display: flex;
  flex-direction: column;
}

.about-restaurant-top-subtitle {
  font-family: 'Times New Roman';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  color: var(--overhead-title-text);
  margin-bottom: 12px;
}

.about-restaurant-logo {
  margin-bottom: 12px;
}

.about-restaurant-logo {
  font-family: 'Film P3';
  font-weight: 700;
  font-size: 40px;
  line-height: 1;
  letter-spacing: 0.3em;
  color: var(--title-mimino-color);
}

.about-restaurant-top-text {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  width: 258px;
  color: var(--text-grey-color);
  margin-bottom: 28px;
}

.about-restaurant-top-img {
  box-shadow: 2px 2px 60px 2px rgb(0 0 0 / 25%);
  margin-left: auto;
  margin-bottom: 32px;
  max-width: 244px;
  max-height: 322px;
}

.about-restaurant-bottom-content {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}

.about-restaurant-bottom-img {
  box-shadow: 2px 2px 60px 2px rgb(0 0 0 / 25%);
  max-width: 200px;
  max-height: 278px;
}

.about-restaurant-bottom-text {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: var(--brown-color);
  width: 163px;
  margin-left: 20px;
}

.about-restaurant-slider-photos {
  display: flex;
  column-gap: 12px;
  margin-bottom: 28px;
}

.pic-slider-photo-two {
  position: relative;
  left: 12px;
  overflow: hidden;
  max-width: 245px;
}

.about-restaurant-slider-one,
.about-restaurant-slider-two {
  box-shadow: 2px 2px 60px 2px rgb(0 0 0 / 25%);
  max-width: 245px;
  max-height: 245px;
}

.about-restaurant-slider-two {
  opacity: 0.6;
}

.about-restaurant-arrow {
  display: flex;
  justify-content: flex-end;
  column-gap: 34px;
}

.button-slider-left,
.button-slider-right {
  background-color: transparent;
  border: none;
}

.about-restaurant-arrow-left,
.about-restaurant-arrow-right {
  cursor: pointer;

  transition: fill var(--transition-property);
}

.about-restaurant-arrow-left:hover,
.about-restaurant-arrow-left:focus,
.about-restaurant-arrow-right:hover,
.about-restaurant-arrow-right:focus {
  fill: var(--accent-color);
}

/* =====================MEDIA-MOBILE===================== */

@media screen and (min-width: 362px) {
  .about-restaurant-slider-photos {
    justify-content: flex-end;
  }

  .pic-slider-photo-two {
    max-width: 64px;
  }
}

@media screen and (min-width: 414px) {
  .about-restaurant {
    overflow: hidden;
  }

  .pic-slider-photo-two {
    overflow: visible;
  }
}

/* =====================MEDIA-TABLET===================== */

@media screen and (min-width: 1024px) {
  .about-restaurant {
    overflow: visible;
  }

  .about-restaurant-container {
    padding-top: 0;
    padding-bottom: 40px;
  }

  .about-restaurant-top-content {
    /* position: relative; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
  }

  .about-restaurant-top-inner {
    /* margin-top: 120px; */
    margin-right: 26px;
    /* margin-bottom: 155px; */
  }

  .about-restaurant-top-subtitle {
    font-size: 32px;
    margin-bottom: 4px;
  }

  .about-restaurant-logo {
    margin-bottom: 24px;
  }

  .about-restaurant-logo {
    font-size: 64px;
    margin-bottom: 24px;
  }

  .about-restaurant-top-text {
    font-size: 16px;
    width: 439px;
    margin-bottom: 0;
  }

  .about-restaurant-top-img {
    box-shadow: 2px 2px 60px 2px rgb(0 0 0 / 25%);
    max-width: 400px;
    max-height: 524px;
    margin-bottom: 0;
    /* position: absolute; */
    margin-top: -32px;
    /* left: 465px; */
  }

  .about-restaurant-bottom-content {
    display: flex;
    align-items: center;
    margin-bottom: 0;
  }

  .about-restaurant-bottom-text {
    font-size: 16px;
    width: 312px;
    margin-left: 48px;
  }

  .about-restaurant-bottom-img {
    box-shadow: 2px 2px 60px 2px rgb(0 0 0 / 25%);
    max-width: 350px;
    max-height: 500px;
    /* position: absolute;
    top: 1196px;
    left: 47px; */
  }

  .about-restaurant-slider-photos {
    display: flex;
    justify-content: flex-end;
    column-gap: 40px;
    margin-bottom: 40px;
    margin-top: -27px;
  }

  .pic-slider-photo-two {
    position: relative;
    left: 0;
    overflow: visible;
    max-width: 194px;
  }

  .about-restaurant-slider-two {
    opacity: 1;
  }

  .about-restaurant-slider-one,
  .about-restaurant-slider-two {
    box-shadow: 2px 2px 60px 2px rgb(0 0 0 / 25%);
    max-width: 194px;
    max-height: 194px;
  }

  .about-restaurant-arrow {
    display: flex;
    justify-content: flex-end;
    column-gap: 34px;
  }
}

/* =====================MEDIA-DESKTOP===================== */

@media screen and (min-width: 1280px) {
  .about-restaurant {
    padding-top: 0;
    padding-bottom: 0;
  }

  .about-restaurant-top-inner {
    margin-right: 37px;
  }

  .about-restaurant-top-text {
    width: 518px;
  }

  .about-restaurant-top-img {
    box-shadow: 2px 2px 60px 2px rgb(0 0 0 / 25%);
    max-width: 460px;
    max-height: 574px;
    margin-top: -33px;
  }

  .about-restaurant-bottom-content {
    align-items: flex-start;
  }

  .about-restaurant-bottom-text {
    width: 312px;
    margin-left: 32px;
    margin-top: 123px;
  }

  .about-restaurant-bottom-img {
    box-shadow: 2px 2px 60px 2px rgb(0 0 0 / 25%);
    max-width: 460px;
    max-height: 574px;
    margin-top: -64px;
  }

  .about-restaurant-slider-photos {
    display: flex;
    justify-content: flex-end;
    column-gap: 40px;
    margin-bottom: 48px;
    margin-top: -148px;
  }

  .about-restaurant-slider-one,
  .about-restaurant-slider-two {
    box-shadow: 2px 2px 60px 2px rgb(0 0 0 / 25%);
    max-width: 254px;
    max-height: 254px;
  }

  .about-restaurant-arrow {
    display: flex;
    justify-content: flex-end;
    column-gap: 34px;
  }

  .pic-slider-photo-two {
    max-width: 254px;
  }
}
