.container {
  
}

.about-kitchen {
  padding-top: 16px;
  padding-bottom: 28px;
}

.about-kitchen-top-content {
  display: flex;
  /* justify-content: space-between;
  align-items: center; */
  flex-direction: column;
}


.about-kitchen-top-inner {
}


.about-kitchen-top-subtitle {
  font-family: 'Times New Roman';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.1;
  color: #B4B4B4;
  margin-bottom: 12px;
}

.about-kitchen-logo {
  margin-bottom: 12px;
}

.about-kitchen-logo-link {
  font-family: 'Film P3';
  font-weight: 700;
  font-size: 40px;
  line-height: 1;
  letter-spacing: 0.3em;
  color: #494848;
  
}

.about-kitchen-top-text {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  width: 258px;
  color: #7A7A7A;
  margin-bottom: 28px;
}

.about-kitchen-pic {
  /* box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25); */
}

.about-kitchen-top-img {
  box-shadow: 2px 2px 60px 2px rgb(0 0 0 / 25%);
  margin-left: auto;
  margin-bottom: 32px;
}



.about-kitchen-bottom-content {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}

.about-kitchen-bottom-img {
  
}

.about-kitchen-bottom-text {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.02em;
  color: #C79002;
  width: 163px;
  margin-left: 20px;
}



.about-kitchen-slider-photos {
  display: flex;
  column-gap: 24px;
  position: relative;
  left: 22px;
  max-width: 349px;
  overflow: hidden;
}

.about-kitchen-slider-one {
  max-width: 245px;
  height: 245px;
}

.about-kitchen-slider-one,
.about-kitchen-slider-two {
  position: relative;
  left: 0;
  max-width: 245px;
  max-height: 245px;
}

.about-kitchen-slider-two {
  width: 244px;
  height: 322px;
}

.about-kitchen-slider-photos img {
  
}


.about-kitchen-slider-photo {
  max-width: 212px;
}




.about-kitchen-arrow {
  display: flex;
  justify-content: flex-end;
  column-gap: 34px;
}

.about-kitchen-arrow-left,
.about-kitchen-arrow-right {
  cursor: pointer;
}



/* =====================MEDIA===================== */


/* @media screen and (min-width: 414px) {

  .container {
    width: 100%;
  }
  

} */

@media screen and (min-width: 362px) {

  .about-kitchen-slider-photos {
    display: flex;
    position: relative;
    left: 15px;
    max-width: 349px;
}

.about-kitchen-slider-one,
.about-kitchen-slider-two {
  position: relative;
  left: 0px;
  max-width: 245px;
  max-height: 245px;
}

}


@media screen and (min-width: 414px) and (max-width: 1023px) {
   /* .about-kitchen-slider-photos {
    position: absolute;
    top: 0;
    left: 0;
   }

   .about-kitchen-slider-one,
   .about-kitchen-slider-two {
    width: 194px;
    height: 194px;
   } */

    

}

