.amenities {
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: var(--bg-dark-section);
}



.amenities__title {
font-family: 'Times New Roman';    
font-weight: 400;
font-size: 32px;
line-height: 1.17;
color: #000000;
margin-bottom: 16px;
}


.amenities__after-title {
font-family: 'Montserrat';
font-weight: 700;
font-size: 16px;
line-height: 1.25;
letter-spacing: 0.02em;
color: var(--text-grey-color);
margin-bottom: 32px;
}

.amenities__subtitle {
font-family: 'Times New Roman';    
font-weight: 700;
font-size: 24px;
line-height: 1.17;
color: #000000;
margin-bottom: 16px;
}

.amenities__text {
font-family: 'Montserrat';
font-weight: 700;
font-size: 16px;
line-height: 1.25;
letter-spacing: 0.02em;
color: var(--text-grey-color);
}

.amenities__item {
    margin-bottom: 32px;
}

.amenities__button {
background: #000000;
border: 1px solid var(--accent-color);
border-radius: 25px;
padding: 19px 42px;

font-family: 'Montserrat';
font-weight: 500;
font-size: 4vw;
line-height: 1.2;

color: #FFFFFF;
display: block;
margin: 0 auto;
margin-bottom: 20px;

}

.amenities__text-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.amenities__link {

    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 4vw;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: var(--brown-color);
}

.amenities__button:hover,
.amenities__button:focus,
.amenities__button:active {
    background-color: var(--accent-color);
    color: #000000;
}

.amenities__icon {
    fill: var(--brown-color);

}

.amenities__link:hover,
.amenities__link:focus,
.amenities__link:active {
    color: var(--accent-color);
}

.amenities__link:hover .amenities__icon,
.amenities__link:focus .amenities__icon,
.amenities__link:active .amenities__icon {
    fill: var(--accent-color);
}


/* ------------MOBILE----------- */
@media screen and (min-width: 414px) {
    
.amenities__button {
    font-size: 20px;
}

.amenities__link {
    font-size: 16px;
}

}



/* ------------TABLET----------- */
@media screen and (min-width: 1024px) {

.amenities {
    padding-top: 50px;
    padding-bottom: 40px;
}
    
.amenities__text-container {
    flex-direction: row; 
    gap: 80px;

}

.amenities__text {
    width: 400px;
}

.amenities__item:last-child {
    margin-bottom: 40px;
}


.amenities__button {
    margin-right: 0;
    margin-bottom: 32px;
    font-size: 24px;
    padding: 18px 38px;
    
}
 
.amenities__link {
    justify-content: flex-end;
    font-size: 20px;
    line-height: 1.2;
    
}


}

/* ------------DESKTOP----------- */
@media screen and (min-width: 1280px) {
    

.amenities {
    padding-top: 48px;
    padding-bottom: 48px;
}   

.amenities__text-container {
    gap: 159px;
}


}

