/* ==========================MOBILE============================== */
@media screen and (min-width: 320px) and (max-width: 390px) {
  .details-restaurant__text-wrapper {
    width: 259px;
    margin-left: 50px;
    margin-bottom: 48px;
  }
}
.details-restaurant__container {
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 24px;
  padding-bottom: 40px;
  margin: 0 auto;
}

@media screen and (min-width: 390px) {
  .details-restaurant__text-wrapper {
    width: 259px;
    margin-left: 126px;
    margin-bottom: 48px;
  }
}

.details-restaurant__container-first-paragraph {
  display: block;
  margin-bottom: 12px;
  font-family: 'Film P3';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.08;
  letter-spacing: 0.3em;
  color: #ffffff;
}

.details-restaurant__container-first-title {
  margin-bottom: 20px;
  font-family: 'Montserrat';
  font-size: 20px;
  line-height: 1.21;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.details-restaurant__container-first-description {
  max-width: 259px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #bababa;
}

/*==============SLIDER ================*/
.details-restaurant_slider-list {
  display: flex;
  gap: 20px;
  margin-bottom: 16px;
  margin-right: -220px;
  margin-left: 25px;
}

.details-restaurant-slider__buttons {
  display: flex;
  padding-left: 25px;
  margin-bottom: 32px;
}

.details-restaurant__slider-two {
  opacity: 0.6;
  overflow: hidden;
}

@media screen and (min-width: 582px) {
  .details-restaurant__slider-two {
    opacity: 1;
  }
}

.details-restaurant__slider-three {
  display: none;
}

.details-restaurant-slider__icon {
  fill: #fff;
  cursor: pointer;
}

.details-restaurant-slider__icon:hover,
.details-restaurant-slider__icon:focus,
.details-restaurant-slider__icon:active {
  fill: var(--accent-color);
}

.details-restaurant-slider__buttons {
  gap: 32px;
}

/*==============/SLIDER ================*/

.details-restaurant__container-second-link {
  display: inline-block;
}
.details-restaurant__container-second-btn {
  min-width: 236px;
  padding: 12px 22px;
}
.details-restaurant__container-second-link {
  min-width: 236px;
  padding: 12px 29px;
}

.details-restaurant__container-second {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-end;
  margin: 0 auto;
  align-items: center;
  gap: 16px;
}

.details-restaurant {
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../img/homepage/bg-imgs/1-mob-1x.jpg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  padding: 0;
  position: relative;
  overflow: hidden;
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 413px),
  screen and (min-resolution: 192dpi) and (max-width: 413px),
  screen and (min-resolution: 2dppx) and (max-width: 413px) {
  .details-restaurant {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url(../img/homepage/bg-imgs/1-mob-2x.jpg);
  }
}

/* ==========================/MOBILE============================== */

/* ==========================TABET============================= */

@media screen and (min-width: 1024px) {
  .details-restaurant__container {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    padding-top: 48px;
    padding-bottom: 40px;
  }

  .details-restaurant {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url(../img/homepage/bg-imgs/1-tab-1x.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 1024px),
    screen and (min-resolution: 192dpi) and (min-width: 1024px),
    screen and (min-resolution: 2dppx) and (min-width: 1024px) {
    .details-restaurant {
      background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url(../img/homepage/bg-imgs/1-tab-2x.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }

  .details-restaurant__container-first-paragraph {
    font-size: 64px;
  }

  .details-restaurant__container-first-title {
    margin-bottom: 8px;
  }

  .details-restaurant_slider {
    max-width: none;
    gap: 20px;
  }

  .details-restaurant__slider {
    max-width: none;
  }

  .details-restaurant__slider-three {
    display: block;
  }
  .details-restaurant__slider-two {
    opacity: 1;
  }
  .details-restaurant_slider-list {
    margin-right: 0;
    margin-bottom: 24px;
    margin-left: 29px;
    gap: 34px;
  }

  .details-restaurant__slider-three {
    display: block;
  }

  .details-restaurant__slider-one,
  .details-restaurant__slider-two,
  .details-restaurant__slider-three {
    margin-right: 0;
  }

  .details-restaurant__slider-two,
  .details-restaurant__slider-three {
    width: 162px;
    height: 270px;
  }

  .towell {
    margin-left: 0;
  }

  .details-restaurant__text-wrapper {
    width: 610px;
    margin-bottom: 40px;
    margin-left: 0;
    margin-right: auto;
  }

  .details-restaurant__container-first-description {
    max-width: 100%;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;

    color: #bababa;
  }

  .details-restaurant-slider__list {
    margin-bottom: 24px;
  }

  .details-restaurant-slider__buttons {
    margin-bottom: 0;
    padding-left: 29px;
  }

  .details-restaurant__container-second {
    padding-bottom: 56px;
    margin: 0;
  }
}

/* ==========================/TABET============================= */

/* ==========================DESKTOP============================= */

@media screen and (min-width: 1280px) {
  .details-restaurant {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url(../img/homepage/bg-imgs/1-desk-1x.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 1280px),
    screen and (min-resolution: 192dpi) and (min-width: 1280px),
    screen and (min-resolution: 2dppx) and (min-width: 1280px) {
    .details-restaurant {
      background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url(../img/homepage/bg-imgs/1-desk-2x.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }

  .details-restaurant__container {
    justify-content: end;
  }

  .details-restaurant__container-second {
    margin: 0;
  }

  .details-restaurant_slider-list {
    gap: 70px;
    margin-left: 32px;
  }

  .details-restaurant__slider-three {
    width: 270px;
    height: 270px;
  }

  .details-restaurant-slider__buttons {
    padding-left: 32px;
  }
}
/* ==========================/DESKTOP============================= */
