@media screen and (min-width: 320px) and (max-width: 413px) {
  .details-restaurant__text-wrapper {
    margin-left: 55px;
  }
}

.details-restaurant__container {
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 24px;
  padding-bottom: 40px;
  margin: 0 auto;
}

.details-restaurant__text-wrapper {
  width: 259px;
  margin-left: 126px;
  margin-bottom: 48px;
  margin-right: auto;
}

.details-restaurant__container-first-paragraph {
  display: block;
  margin-bottom: 12px;
  font-family: 'Film P3';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.08;
  letter-spacing: 0.3em;
  color: #ffffff;
}

.details-restaurant__container-first-title {
  margin-bottom: 20px;
  padding-right: 20px;
  font-family: 'Montserrat';
  font-size: 20px;
  line-height: 1.21;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.details-restaurant__container-first-description {
  width: 259px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #bababa;
}

/*============================ SLICK-SLIDER============================ */

.wrapper {
  display: flex;
  position: relative;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 25px;
}

.details-restaurant__slider__arrows {
  position: absolute;
  bottom: -24px;
  transform: translateY(100%);
  width: 98px;
  height: 32px;
}

.details-restaurant__arrows {
  margin-top: 24px;
  margin-bottom: 32px;
  padding-left: 25px;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
  align-items: flex-start;
}

.prev,
.next {
  fill: #fff;
}

.slick-prev,
.slick-next {
  z-index: 10;
  font-size: 0;
  width: 32px;
  height: 32px;
  border: none;
}

.details-restaurant__container-first .wrapper {
  justify-content: start;
}

.details-restaurant__slider__item {
  padding-right: 24px;
  text-align: center;
}
.details-restaurant__slider__item img {
  max-width: 100%;
  max-height: 100%;
}

@media screen and (min-width: 1024px) {
  .wrapper {
    padding-left: 29px;
  }
  .details-restaurant__slider__item {
    padding-right: 34px;
  }
  .details-restaurant__slider {
    width: 662px;
  }
  .details-restaurant__arrows {
    margin-bottom: 0;
    padding-left: 29px;
  }
  .details-restaurant__container-first-paragraph {
    font-size: 64px;
  }
}

@media (min-width: 1280px) {
  .details-restaurant__slider__item {
    padding-right: 86px;
  }
  .details-restaurant__slider {
    width: 842px;
  }
}

/*============================ /SLICK-SLIDER============================ */

.details-restaurant_slider-list {
  display: flex;
  margin-bottom: 16px;
  gap: 20px;
  margin-right: -220px;
}

.details-restaurant__buttons {
  display: flex;
}

.details-restaurant__slider-three {
  display: none;
}

.details-restaurant__icon,
.details-restaurant__icon {
  fill: #fff;
}

.details-restaurant__icon:hover,
.details-restaurant__icon:active .details-restaurant__icon:hover,
.details-restaurant__icon:active {
  fill: var(--accent-color);
}

.details-restaurant__icon:not(:last-child) {
  margin-left: 32px;
}

.details-restaurant-slider__buttons {
  gap: 32px;
}

.details-restaurant__container-second-link {
  display: inline-block;
}

.details-restaurant__container-second-btn,
.details-restaurant__container-second-link {
  min-width: 237px;
  padding: 12px 22px;
  margin: 0 auto;
  text-align: center;
}

.details-restaurant__container-second {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-end;
  margin: 0 auto;
  align-items: center;
  gap: 16px;
}
.details-restaurant {
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../img/homepage/bg-imgs/1-mob-1x.jpg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  padding: 0;
  position: relative;
  overflow: hidden;
}

.arrows-slider__left-button,
.arrows-slider__right-button {
  width: 32px;
  height: 32px;
  background-color: transparent;
  border: none;
}

.details-restaurant__item:not(:last-child) {
  margin-right: 32px;
}

.slick-arrow:not(:last-child) {
  margin-right: 32px;
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 413px),
  screen and (min-resolution: 192dpi) and (max-width: 413px),
  screen and (min-resolution: 2dppx) and (max-width: 413px) {
  .details-restaurant {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url(../img/homepage/bg-imgs/1-mob-2x.jpg);
  }
}
/* ==========================/MOBILE============================== */

/* ==========================TABET============================= */

@media screen and (min-width: 1024px) {
  .details-restaurant__container {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    padding-top: 48px;
    padding-bottom: 40px;
  }

  .details-restaurant {
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url(../img/homepage/bg-imgs/1-tab-1x.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 1024px),
    screen and (min-resolution: 192dpi) and (min-width: 1024px),
    screen and (min-resolution: 2dppx) and (min-width: 1024px) {
    .details-restaurant {
      background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url(../img/homepage/bg-imgs/1-tab-2x.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }

  .details-restaurant__container-first-paragraph {
    margin-bottom: 16px;
  }

  .details-restaurant__container-first-title {
    margin-bottom: 8px;
  }

  .details-restaurant_slider {
    max-width: none;
    gap: 20px;
  }

  .details-restaurant_slider-list {
    gap: 34px;
    margin-right: 0;
  }

  .details-restaurant__slider-three {
    display: block;
  }

  .details-restaurant__slider-two {
    opacity: 1;
  }

  .details-restaurant__slider-one,
  .details-restaurant__slider-two,
  .details-restaurant__slider-three {
    margin-right: 0;
  }

  .details-restaurant__slider-two,
  .details-restaurant__slider-three {
    width: 162px;
    height: 270px;
  }

  .towell {
    margin-left: 0;
  }

  .details-restaurant__text-wrapper {
    width: 549px;
    margin-bottom: 40px;
    margin-left: 0;
    margin-right: auto;
  }

  .details-restaurant__container-first-description {
    width: 610px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;

    color: #bababa;
  }

  .details-restaurant-slider__list {
    margin-bottom: 24px;
  }

  .details-restaurant-slider__buttons {
    margin-bottom: 0;
  }

  .details-restaurant__container-second {
    padding-bottom: 54px;
    margin: 0;
  }
}

/* ==========================/TABET============================= */

/* ==========================DESKTOP============================= */

@media screen and (min-width: 1280px) {
  .details-restaurant {
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url(../img/homepage/bg-imgs/1-desk-1x.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 1280px),
    screen and (min-resolution: 192dpi) and (min-width: 1280px),
    screen and (min-resolution: 2dppx) and (min-width: 1280px) {
    .details-restaurant {
      background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url(../img/homepage/bg-imgs/1-desk-2x.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }
  .wrapper {
    padding-left: 15px;
  }

  .details-restaurant__container {
    justify-content: end;
    gap: 17px;
  }

  .details-restaurant__container-second {
    margin: 0;
  }

  .details-restaurant_slider-list {
    gap: 86px;
  }

  .details-restaurant__slider-two,
  .details-restaurant__slider-three {
    width: 100%;
    height: 270px;
  }
  .details-restaurant__arrows {
    padding-left: 15px;
  }
}
/* ==========================/DESKTOP============================= */
