h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* ================================================== */
.container {
    max-width: 414px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
    background-color: rgb(50, 48, 48);
}

.details-restaurant {
    padding-bottom: 40px;
    padding-top: 24px;
}

.details-restaurant__top-div {
    width: 269px;
    margin-left: auto;
}

.logo {
    display: block;
    margin-bottom: 12px;

    font-family: 'Amatic', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 1.08;
    text-transform: uppercase;
    /* Надо пофиксить на 
    letter-spacing: 0.3em; */
    letter-spacing: 0em;
    
    color: #FFFFFF;
}

.details-restaurant__title {
    margin-bottom: 20px;

    font-family: 'Montserrat';
    
    font-size: 24px;
    line-height: 1.21;
    letter-spacing: 0.02em;
    
    color: #FFFFFF;
}

.details-restaurant_subscription {
    margin-bottom: 48px;
    max-width: 259px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    
    color: #BABABA;
}

.details-restaurant__slider {
    width: 100%;
    padding-left: 25px;
}

.details-restaurant__slider-list {
    display: flex;
    column-gap: 24px;
    margin-bottom: 16px;
}

.slider-list {
    display: flex;
    margin-bottom: 32px;

}

.slider__icon {
    fill: white;
}

.slider-list__button {
    border: none;
    background-color: transparent;
    margin: 0;
    padding: 0;
}

.slider-list__item:not(:last-child) {
    margin-right: 32px;
}

.button-list__link {
    display: block;
}

.button-list__button, 
.button-list__link {
    min-width: 236px;

    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    color: #F3C653;
    
    padding: 14px 24px;
    
    text-align: center;
    letter-spacing: 0.04em;
    background: rgba(0, 0, 0, 0.4);;

    cursor: pointer;
    border-radius: 25px;
    border: 2px solid #ffffff;
}

.button-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.button-list__item:not(:last-child) {
    margin-bottom: 16px;
}


