/* ==========================MOBILE============================== */
.details-hotel__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 24px;
  padding-bottom: 40px;
  margin: 0 auto;
}

.details-hotel__text-wrapper {
  width: 269px;
  margin-right: auto;
  margin-left: 15px;
  margin-bottom: 48px;
}


.details-hotel__container-first-paragraph {
  display: block;
  margin-bottom: 12px;
  font-family: "Film P3";
  font-style: normal;
  font-weight: 700;
  text-align: end;
  font-size: 64px;
  line-height: 1.08;
  letter-spacing: 0.3em;
  color: #ffffff;
}

.details-hotel__container-first-title {
  margin-bottom: 20px;
  padding-right: 20px;
  font-family: 'Montserrat';
  font-size: 20px;
  text-align: end;
  line-height: 1.21;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.details-hotel__container-first-description {
  max-width: 259px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #bababa;
}


/*==============SLIDER ================*/
.details-hotel_slider-list {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 16px;
  gap: 20px;
  margin-left: -405px;

}

.details-hotel-slider__buttons {
  display: flex;
  justify-content: end;
  margin-bottom: 32px;
}

.details-hotel__slider-two {
  opacity: 0.6;
  overflow: hidden;
}

.details-hotel__slider-three {
  display: none;
}

@media screen and (min-width: 1024px) {
  .details-hotel__slider-three {
    display: block;
  } 
  .details-hotel__slider-two {
    opacity: 1;
  }
}

.details-hotel-slider__icon {
  fill: #fff;
}

.details-hotel-slider__buttons {
  gap: 32px;
}

/*==============/SLIDER ================*/

.details-hotel__container-second-link {
  display: inline-block;

}
.details-hotel__container-second-btn,
.details-hotel__container-second-link {
  width: 236px;
  height: 48px;
  padding: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 700;
  color: var(--accent-color);
  letter-spacing: 0.02em;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.4);;
  border: 2px solid #fff;
  border-radius: 25px;

}

.details-hotel__container-second-btn:hover,
.details-hotel__container-second-btn:focus,
.details-hotel__container-second-btn:active,
.details-hotel__container-second-link:hover,
.details-hotel__container-second-link:focus,
.details-hotel__container-second-link:active {
  background-color: #fff;
  border-color: var(--accent-color);
}

.details-hotel__container-second {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-end;
  margin: 0 auto;
  align-items: center;
  gap: 16px;
}
.details-hotel {
  width: 100%;;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../img/homepage/bg-imgs/2-mob-1x.jpg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  padding: 0;
  position: relative;
  overflow: hidden;
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 413px),
  screen and (min-resolution: 192dpi) and (max-width: 413px),
  screen and (min-resolution: 2dppx) and (max-width: 413px) {
  .details-hotel {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url(../img/homepage/bg-imgs/2-mob-2x.jpg);
  }
}
/* ==========================/MOBILE============================== */

/* ==========================TABET============================= */

@media screen and (min-width: 1024px) {
  .details-hotel__container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-top: 48px;
    padding-bottom: 40px;
  }

  .details-hotel {
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url(../img/homepage/bg-imgs/2-tab-1x.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 1024px),
    screen and (min-resolution: 192dpi) and (min-width: 1024px),
    screen and (min-resolution: 2dppx) and (min-width: 1024px) {
    .details-hotel {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.7),
          rgba(0, 0, 0, 0.7)
        ),
        url(../img/homepage/bg-imgs/2-tab-2x.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }

  .details-hotel__container {
    gap: 29px;
  }

  .details-hotel__container-first-paragraph {
    margin-bottom: 16px;
  }

  .details-hotel__container-first-title {
    margin-bottom: 8px;
  }

  .details-hotel_slider {
    max-width: none;
    gap: 20px;
  }

  .details-hotel__slider {
    max-width: none;
  }

  .details-hotel_slider-list {
    margin-left: 0;
    gap: 34px;
  }

  .details-hotel__slider-three {
    display: block;
  }

  .details-hotel__slider-one,
  .details-hotel__slider-two,
  .details-hotel__slider-three {
    margin-right: 0;
  }

  .details-hotel__slider-two,
  .details-hotel__slider-three {
    width: 162px;
    height: 270px;
  }

  .towell {
    margin-left: 0;
  }

  .details-hotel__text-wrapper {
    width: 549px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: 0;
  }

  .details-hotel__container-first-description {
    max-width: 100%;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;

    color: #BABABA;
  }

  .details-hotel-slider__list {
    flex-direction: row-reverse;
    margin-bottom: 24px;
  }

  .details-hotel-slider__buttons {
    margin-bottom: 0;
  }

  .details-hotel__container-second {
    padding-bottom: 56px;
    margin: 0;
  }
}

/* ==========================/TABET============================= */

/* ==========================DESKTOP============================= */

@media screen and (min-width: 1280px) {
  .details-hotel {
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url(../img/homepage/bg-imgs/2-desk-1x.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 1280px),
    screen and (min-resolution: 192dpi) and (min-width: 1280px),
    screen and (min-resolution: 2dppx) and (min-width: 1280px) {
    .details-hotel {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.7),
          rgba(0, 0, 0, 0.7)
        ),
        url(../img/homepage/bg-imgs/2-desk-2x.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }

  .details-hotel__container {
    justify-content: end;
  }

  .details-hotel__text-wrapper {
    margin-left: auto;
    margin-right: 0;
  }

  .details-hotel__container-second {
    margin: 0;
  }
  
  .details-hotel_slider-list {
    flex-direction: row;
    margin-left: 0;
    gap: 86px;
  }

  .details-hotel__slider-three {
    width: 270px;
    height: 270px;
  }

}
/* ==========================/DESKTOP============================= */
