.header {
  display: flex;
  z-index: 1;
  position: absolute;
}

.header__nav {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  font-family: 'Film P3';
  font-weight: 700;
  font-size: 36px;
  line-height: 1.08;
  letter-spacing: 0.3em;
  padding-top: 16px;
  padding-bottom: 9px;
  color: #fff;
}

.header__list {
  display: flex;
  gap: 20px;
  margin-left: auto;
}

.header__item {
  display: flex;
  gap: 6px;
}

.header__link {
  padding-top: 28px;
  padding-bottom: 16px;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
.header__link:hover,
.header__link:focus {
  color: #fff;
}

.header__tel-wraper {
  padding-top: 24px;
  padding-bottom: 13px;
}

.header__number {
  display: none;
}

.header__svg {
  fill: var(--accent-color);
}

.header__svg:hover,
.header__svg:focus {
  fill: #fff;
}

.header__contacts-list {
  display: none;
}

@media screen and (min-width: 320px) and (max-width: 414px) {
  .header {
    width: 100%;
    max-width: 414px;
  }

  .header__logo {
    width: 104px;
    font-size: 32px;
  }

  .header__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }

  .header__list {
    gap: 6px;
  }
}

@media screen and (min-width: 414px) {
  .header {
    width: 100%;
    max-width: 1024px;
  }
  .header__logo {
    width: 114px;
    margin-right: 52px;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    top: 5%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 1024px;
  }

  .header__logo {
    width: 127px;
    padding-top: 24px;
    padding-bottom: 33px;
    margin-right: 207px;
    font-size: 40px;
    line-height: 1.07;
  }

  .header__list {
    gap: 80px;
  }

  .header__item {
    gap: 30px;
  }

  .header__link {
    padding-top: 36px;
    padding-bottom: 40px;
    font-size: 20px;
    line-height: 1.2;
  }

  .header__tel {
    display: flex;
    height: 40px;
    padding: 8px;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    align-items: center;
    letter-spacing: 0.02em;
    color: var(--accent-color);

    border: 1px solid rgba(243, 198, 83, 0.7);
    border-radius: 2px;
  }

  .header__tel:hover,
  .header__tel:focus {
    color: #fff;
    border-color: #fff;
  }
  .header__tel-wraper {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .header__number {
    display: flex;
  }
}

@media screen and (min-width: 1280px) {
  .header {
    /* position: absolute; */
    top: 5%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 1280px;
  }

  .header__nav {
    display: flex;
    justify-content: space-between;
  }

  .header__container-desktop {
    display: flex;
    justify-content: space-between;
  }

  .header__logo {
    margin-right: 135px;
  }

  .header__tel {
    font-size: 16px;
    line-height: 1.25;
  }

  .header__list {
    gap: 72px;
  }

  /* ----------------soc------------------- */
  .header__contacts-list {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .header__contacts-link {
    width: 24px;
  }
  .header__contacts-icon {
    display: block;
    fill: var(--accent-color);
    transition-property: fill;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header__contacts-icon:hover,
  .header__contacts-icon:focus {
    fill: #fff;
  }
}
