.container {
}

.header__nav {
  display: flex;
}

.header__logo {
  font-family: 'Film P3';
  font-weight: 700;
  font-size: 36px;
  line-height: 1.08;
  letter-spacing: 0.3em;
  padding-top: 16px;
  padding-bottom: 9px;
  color: #fff;
}

.header__list {
  display: flex;
  padding-top: 28px;
  margin-left: auto;
  gap: 20px;
}

.header__item {
}

.header__link {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.header__tel {
  visibility: hidden;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.header__list-soc {
  display: none;
}

.header__svg {
}
