.hotel-hero__overlay {
  margin: 0 auto;

  background-color: var(--brown-color);
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.65),
      rgba(0, 0, 0, 0.65)
    ),
    url(../img/hero/hotel/mob-1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hotel-hero__overlay {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.65),
        rgba(0, 0, 0, 0.65)
      ),
      url('../img/hero/hotel/mob-2x.jpg');
  }
}
/* TITLES */
.hotel-hero__title {
  width: 303px;
  margin: 0 auto;
  margin-bottom: 32px;
  margin-top: 70px;

  font-family: 'Film P3';
  font-weight: 700;
  font-size: 96px;
  line-height: 1.07;
  letter-spacing: 0.3em;

  color: #ffffff;
}
.hotel-hero__category {
  max-width: 71px;
  margin: 0 auto;
  margin-bottom: 178px;

  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  color: #ffffff;
}
@media screen and (max-width: 340px) {
  .hotel-hero__title {
    width: 276px;
    font-size: 86px;
  }
  .hero__sub {
    font-size: 31px;
  }
}
/* ---------------TABLET--------------- */
/* bg-features */
@media screen and (min-width: 600px) {
  .hotel-hero__overlay {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.65),
        rgba(0, 0, 0, 0.65)
      ),
      url(../img/hero/hotel/tab-1x.jpg);
    background-color: var(--accent-color);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hotel-hero__overlay {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.65),
          rgba(0, 0, 0, 0.65)
        ),
        url('../img/hero/hotel/tab-2x.jpg');
      background-color: var(--accent-color);
    }
  }
}
/* main-features */
@media screen and (min-width: 1024px) {
  .hotel-hero__title {
    width: 404px;
    margin-bottom: 32px;
    margin-top: 0;

    font-size: 128px;
    line-height: 1.07;
  }
  .hotel-hero__category {
    margin-bottom: 226px;
  }
}
/* ---------------DESKTOP--------------- */
/* bg-geatures */
@media screen and (min-width: 1280px) {
  .hotel-hero__overlay {
    background-color: var(--accent-color);
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.65),
        rgba(0, 0, 0, 0.65)
      ),
      url(../img/hero/hotel/desk-1x.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hotel-hero__overlay {
      background-color: var(--accent-color);
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.65),
          rgba(0, 0, 0, 0.65)
        ),
        url('../img/hero/hotel/desk-2x.jpg');
    }
  }
  /* TITLES */
  .hotel-hero__title {
    margin-bottom: 32px;
  }
  .hotel-hero__category {
    margin-bottom: 249px;
  }
}
/* BG-4K */
@media screen and (min-width: 1440px) {
  .hotel-hero__overlay {
    background-color: var(--accent-color);
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.65),
        rgba(0, 0, 0, 0.65)
      ),
      url(../img/hero/hotel/desk-4k.jpg);
  }
}