.rest-hero__overlay {
  margin: 0 auto;

  background-color: var(--brown-color);
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.65),
      rgba(0, 0, 0, 0.65)
    ),
    url(../img/hero/restaurant/mob-1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .rest-hero__overlay {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.65),
        rgba(0, 0, 0, 0.65)
      ),
      url('../img/hero/restaurant/mob-2x.jpg');
  }
}
/* TITLES */
.rest-hero__title {
  width: 303px;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 70px;

  font-family: 'Film P3';
  font-weight: 700;
  font-size: 96px;
  line-height: 1.07;
  letter-spacing: 0.3em;

  color: #ffffff;
}
.rest-hero__category {
  width: 83px;
  margin: 0 auto;
  margin-bottom: 44px;

  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;

  color: #fdfbec;
}
.rest-hero__sub {
  width: 315px;
  display: block;
  margin: 0 auto;
  margin-bottom: 113px;

  font-family: 'Times New Roman';
  font-weight: 700;
  font-size: 32px;
  line-height: 1.15;
  letter-spacing: 0.05em;

  color: #fdfbec;
}
.hero__prices-link {
  max-width: 237px;
}
@media screen and (max-width: 340px) {
  .rest-hero__title {
    width: 276px;
    font-size: 86px;
  }
  .hero__sub {
    font-size: 31px;
  }
}
/* ---------------TABLET--------------- */
/* bg-features */
@media screen and (min-width: 600px) {
  .rest-hero__overlay {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.65),
        rgba(0, 0, 0, 0.65)
      ),
      url(../img/hero/restaurant/tab-1x.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .rest-hero__overlay {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.65),
          rgba(0, 0, 0, 0.65)
        ),
        url(../img/hero/restaurant/tab-2x.jpg);
    }
  }
}
/* main-features */
@media screen and (min-width: 1024px) {
  /* TITLES */
  .rest-hero__title {
    width: 404px;
    margin-top: 0;
    margin-bottom: 16px;

    font-size: 128px;
    line-height: 1.07;
  }
  .rest-hero__category {
    width: 104px;
    margin-bottom: 56px;

    font-size: 20px;
    line-height: 1.2;
  }
  .rest-hero__sub {
    width: 358px;
    margin-bottom: 145px;

    font-size: 36px;
    line-height: 1.13;
  }
}
/* ---------------DESKTOP--------------- */
/* bg-geatures */
@media screen and (min-width: 1280px) {
  .rest-hero__overlay {
    background-color: var(--accent-color);
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.65),
        rgba(0, 0, 0, 0.65)
      ),
      url(../img/hero/restaurant/desk-1x.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .rest-hero__overlay {
      background-color: var(--accent-color);
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.65),
          rgba(0, 0, 0, 0.65)
        ),
        url('../img/hero/restaurant/desk-2x.jpg');
    }
  }
  /* TITLES */
  .rest-hero__title {
    margin-bottom: 32px;
  }
  .rest-hero__category {
    margin-bottom: 64px;
  }
  .rest-hero__sub {
    margin-bottom: 144px;
  }
}
/* BG-4K */
@media screen and (min-width: 1440px) {
  .rest-hero__overlay {
    background-color: var(--accent-color);
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.65),
        rgba(0, 0, 0, 0.65)
      ),
      url(../img/hero/restaurant/desk-4k.jpg);
  }
}
