.room-hero__overlay {
  margin: 0 auto;

  background-color: var(--accent-color);
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.65),
      rgba(0, 0, 0, 0.65)
    ),
    url(../img/hero/room/slider/1-mob-1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .room-hero__overlay {
    background-color: var(--accent-color);
    background-image: linear-gradient(
        180deg,
        #000000 0%,
        rgba(0, 0, 0, 0.55) 9%,
        rgba(0, 0, 0, 0) 19%
      ),
      url('../img/hero/room/slider/1-mob-2x.jpg');
  }
}
.room-hero__section {
  max-width: 414px;
  margin: 0 auto;
  padding: 64px 15px 14px;
  position: relative;
}
@media screen and (min-width:1024px) {
  .room-hero__section {
    max-width: none;
  }
}
/* SLIDER */
.room-hero__btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 93px;
  margin-top: 239px;
}
.room-hero__btn {
  display: block;
  padding: 0;

  background-color: rgba(0, 0, 0, 0.65);
  border: none;
}
.arrow-icon {
  display: block;
  fill: var(--accent-color);
  transition-property: background-color, fill;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.arrow-icon:hover,
.arrow-icon:focus {
  background-color: #fff;
}
/* TITLES */
.room-hero__title {
  max-width: 325px;
  margin-bottom: 14px;

  font-family: 'Times New Roman';
  font-weight: 700;
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: 0.05em;

  color: #ffffff;
}
.room-hero__sub {
  max-width: 325px;
  margin-bottom: 17px;

  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;

  color: #ffffff;
}
@media screen and (max-width: 346px) {
  .room-hero__section {
    padding: 64px 6px 14px;
  }
  .room-hero__title {
    width: 286px;
    font-size: 27px;
  }
  .main-hero__sub {
    font-size: 31px;
  }
}
/* LINKS */
.room-hero__thumb {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 325px;
}
.room__soc-list {
  display: block;
}
.room__soc-item + .room__soc-item {
  margin-top: 8px;
}
/* BTN */
.room__prices-btn {
  width: 232px;
  padding: 12px 33px;
}
/* ---------------TABLET--------------- */
/* bg-features */
@media screen and (min-width: 600px) {
  .room-hero__overlay {
    background-image: linear-gradient(
        180deg,
        #000000 0%,
        rgba(0, 0, 0, 0.55) 9%,
        rgba(0, 0, 0, 0) 19%
      ),
      url(../img/hero/room/slider/1-tab-1x.jpg);
    background-color: var(--accent-color);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .room-hero__overlay {
      background-image: linear-gradient(
          180deg,
          #000000 0%,
          rgba(0, 0, 0, 0.55) 9%,
          rgba(0, 0, 0, 0) 19%
        ),
        url('../img/hero/room/slider/1-tab-2x.jpg');
      background-color: var(--accent-color);
    }
  }
}
/* main-features */
@media screen and (min-width: 1024px) {
  .room-hero__section {
    width: 1024px;
    padding: 340px 47px 62px;
  }
  /* ADRESS-LINK */
  .room-hero__section .hero-adress__link {
    bottom: 22px;
  }
  /* SLIDER */
  .room-hero__btns {
    margin-bottom: 88px;
    margin-top: 0;
  }
  /* TITLES */
  .room-hero__title {
    max-width: 509px;
    margin-bottom: 24px;

    font-size: 36px;
    line-height: 1.13;
  }
  .room-hero__sub {
    max-width: 400px;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 1.25;
  }
  /* SOC-LINKS */
  .room-hero__thumb {
    max-width: 100%;
  }
  .room__soc-list {
    display: flex;
    position: absolute;
    bottom: 36px;
    right: 372px;
    left: 50%;
    transform: translateX(-100%);
  }
  .room__soc-item + .room__soc-item {
    margin-top: 0px;
    margin-left: 20px;
  }
  /* BTN */
  .room__prices-btn {
    margin-bottom: 0;
    margin-left: auto;
    transform: translateY(-7%);
  }
}
/* ---------------DESKTOP--------------- */
/* bg-geatures */
@media screen and (min-width: 1280px) {
  .room-hero__overlay {
    background-color: var(--accent-color);
    background-image: linear-gradient(
        180deg,
        #000000 0%,
        rgba(0, 0, 0, 0.55) 9%,
        rgba(0, 0, 0, 0) 19%
      ),
      url(../img/hero/room/slider/1-desk-1x.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .room-hero__overlay {
      background-color: var(--accent-color);
      background-image: linear-gradient(
          180deg,
          #000000 0%,
          rgba(0, 0, 0, 0.55) 9%,
          rgba(0, 0, 0, 0) 19%
        ),
        url('../img/hero/room/slider/1-desk-2x.jpg');
    }
  }
  /* main-features */
  .room-hero__section {
    width: 1280px;
    padding: 412px 85px 48px;
  }
  /* ADRESS-LINK */
  .room-hero__section .hero-adress__link {
    display: none;
  }
  .room-hero__btns {
    margin-bottom: 73px;
  }
  /* SOC-LINKS */
  .room-hero__thumb {
    position: absolute;
    bottom: 66px;
    right: 85px;
    max-width: 234px;
  }
  .room__soc-list {
    display: none;
  }
  /* BTN */
  .room__prices-btn {
    margin: 0;
  }
}
/* BG-4K */
@media screen and (min-width: 1440px) {
  .room-hero__overlay {
    background-color: var(--accent-color);
    background-image: linear-gradient(
        180deg,
        #000000 0%,
        rgba(0, 0, 0, 0.55) 9%,
        rgba(0, 0, 0, 0) 19%
      ),
      url(../img/hero/room/slider/1-desk-4k.jpg);
  }
}
