@import url('./reset.css');
@import url('./fonts.css');
@import url('./header.css');
@import url('./footer.css');
/* ---------- MAIN PAGE -------------- */
@import url('./hero-main-page.css');
@import url('./about-restaurant.css');
@import url('./details-restaurant.css');
@import url('./about-hotel.css');
@import url('./details-hotel.css');
@import url('./contacts.css');
/* --------- RESTAURANT PAGE ---------------*/
@import url('./hero-restaurant-page.css');
@import url('./about-kitchen.css');
@import url('./menu.css');
/* ---------- RESTAURANT PAGE -------------- */
@import url('./hero-hotel-page.css');
@import url('./room-luxe-2-adult.css');
@import url('./room-3-adult.css');
@import url('./room-2-adult.css');
/* ---------- HOTEL PAGE -------------- */
@import url('./hero-room-page.css');
@import url('./amenities.css');
/* ---------- MODALS -------------- */
@import url('./modals.css');

.container {
  width: 414px;
  padding: 0 15px;
  margin: 0 auto;
}
@media screen and (min-width: 1024px) {
  .container {
    width: 960px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1140px;
  }
}

:root {
	--accent-color: #F3C653; /* Akzent yellow */
  --brown-color: #C79002; /* Brown */

  --text-grey-color: #7A7A7A;
  --title-mimino-color:  #494848;
  --overhead-title-text: #B4B4B4;;

  --bg-light-section: #FFFDEE; /* Fon lemon */
  --bg-dark-section: #F0ECD6; /* Fon dark lemon */
  --bg-footer: #0E0C07;

  /* font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%; */
}