@import url('./reset.css');
@import url('./fonts.css');
@import url('./header.css');
@import url('./footer.css');
/* ---------- MAIN PAGE -------------- */
@import url('./hero-main-page.css');
@import url('./about-restaurant.css');
@import url('./details-restaurant.css');
@import url('./about-hotel.css');
@import url('./details-hotel.css');
@import url('./contacts.css');
/* --------- RESTAURANT PAGE ---------------*/
@import url('./hero-restaurant-page.css');
@import url('./about-kitchen.css');
@import url('./menu.css');
/* ---------- RESTAURANT PAGE -------------- */
@import url('./hero-hotel-page.css');
@import url('./room-luxe-2-adult.css');
@import url('./room-3-adult.css');
@import url('./room-2-adult.css');
/* ---------- HOTEL PAGE -------------- */
@import url('./hero-room-page.css');
@import url('./amenities.css');
/* ---------- MODALS -------------- */
@import url('./modals.css');

.container {
  padding: 0 15px;
  margin: 0 auto;
}
@media screen and (min-width: 320px) and (max-width: 1023px) {
  .container {
    max-width: 414px;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    width: 960px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1140px;
  }
}

:root {
	--accent-color: #F3C653; /* Akzent yellow */
  --brown-color: #C79002; /* Brown */

  --text-grey-color: #7A7A7A;
  --title-mimino-color:  #494848;
  --overhead-title-text: #B4B4B4;;

  --bg-light-section: #FFFDEE; /* Fon lemon */
  --bg-dark-section: #F0ECD6; /* Fon dark lemon */
  --bg-footer: #0E0C07;

  --transition-property: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

button {
  transition: color var(--transition-property),
		background-color var(--transition-property),
		box-shadow var(--transition-property),
		border-color var(--transition-property);
}
a {
  transition: color var(--transition-property),
		background-color var(--transition-property),
		box-shadow var(--transition-property),
		border-color var(--transition-property);
}
svg {
  transition: fill var(--transition-property)
}

img {
  border-radius: 2px;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}
.is-hidden {
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
}

.btn {
  display: block;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  border-radius: 25px;
}
.section-btn {
  background: #000000;
  border: 2px solid #FFFFFF;
}
.hero-btn {
  background: rgba(0, 0, 0, 0.4);
  border: 2px solid #FFFFFF;
}
.section-btn:hover, .section-btn:focus, .section-btn:active,
.hero-btn:hover, .hero-btn:focus, .hero-btn:active {
  background-color: #FFFFFF;
  border: 2px solid var(--accent-color);
}


