.menu{
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: var(--bg-light-section);
    
}
.menu__title{
    margin-bottom: 32px;
    width: 100%;
    font-family: 'Times New Roman',serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.15;
    color: #000000;
}
.menu-content{
    display: flex;
    flex-wrap: wrap;
    
}
.menu__item{
    margin-bottom: 8px;
        
}
.menu__list-title{
    margin-bottom: 16px;
    
    font-family: 'Times New Roman', serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    color: #000000;
}
.menu__item-title{
    width: 217px;
    margin-bottom: 4px;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.22;
    color: #000000;
}
.abount{
    width: 384px;
    display: flex;
    justify-content: space-between;
    
}
.menu__item-texte{
    width: 220px;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 10px;
    line-height: 1.22;
    color: #000000; 
}
.menu__item-weight{
    min-width: 39px;
    font-family: Montserrat;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.22;
    color: #000000;
}
.menu__item-price{
    min-width: 60px;
    margin-left: 32px;
    
    font-family: Montserrat;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.22;
    color: #000000;
}
.menu__btn{
    width: 236px;
    padding: 14px 24px;
    display: block;
    text-align: center;
    border-radius: 25px;
    border: 2px solid #FFFDEE;
    margin: 0 auto;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.22;
  
    color: var(--accent-color);
    background-color: #000000;
}

@media screen and (min-width: 1024px){
.menu-content{
    column-gap: 88px;
 }
.menu__list-title{
    margin-bottom: 20px;
}
.menu{
    padding-top: 58px;
    padding-bottom: 40px;
    background-color: var(--bg-dark-section);
}
.menu__title{
    margin-bottom: 40px;
}
.menu__item-title{
    margin-bottom: 8px;
    width: 220px;
}
.menu__item-texte{
    width: 217px;
}
.menu__btn{
    margin-right: 0px;
}
.menu-content{
    align-items: flex-start;
}
.menu__left{
    min-width: 411px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.menu__right{
   min-width: 430px;
   display: flex;
   flex-direction: column; 
   row-gap: 20px;
}
}