.menu{
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: var(--bg-light-section);
}
.menu__title{
    margin-bottom: 32px;
    width: 100%;
    font-family: 'Times New Roman',serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.15;
    color: #000000;
}
.menu-content{
    margin-bottom: 32px;
}
.menu__list-title{
    margin-bottom: 16px;
    
    font-family: 'Times New Roman', serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    color: #000000;
}
.menu__item{
    margin-bottom: 8px;
     
}
.menu__item:last-child{
    margin-bottom: 16px;
}
.menu__item-title{
    max-width: 217px;
    margin-bottom: 4px;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.22;
    color: #000000;
}
.abount{
    display: flex;
    justify-content: space-between;
}
.menu__item-texte{
    max-width: 220px;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 10px;
    line-height: 1.22;
    color: #000000; 
}
.category{
    display: flex;
    justify-content: space-between;
    column-gap: 32px;
}
.menu__item-weight{
    min-width: 39px;
    font-family: Montserrat;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.22;
    color: #000000;
}
.menu__item-price{
    min-width: 60px;
        
    font-family: Montserrat;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.22;
    color: #000000;
}
.menu__btn{
    width: 236px;
    padding: 14px 24px;
    display: block;
    text-align: center;
    border-radius: 25px;
    border: 2px solid #FFFDEE;
    margin: 0 auto;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.22;
    
    color: var(--accent-color);
    background-color: #000000;
}
.menu__btn:hover,
.menu__btn:focus{
    border: 2px solid var(--accent-color);
    color: var(--accent-color);
    background-color: #FFFFFF;
}
@media screen and (min-width: 320px) and (max-width: 414px){
.menu__title{
    font-size: 8vw;
}
.menu__list-title{
    font-size: 4vw;
}
.menu__item-title{
    font-size: 3vw;
    max-width: 46vw;
}
.abount{
    margin-left: auto;
} 
.menu__item-texte{
    max-width: 43vw;
    font-size: 2vw;
}
.menu__item-weight{
    font-size: 3vw;
}
.menu__item-price{
    font-size: 3vw;
}
}
@media screen and (min-width: 1024px){
.menu{
    padding-top: 58px;
    padding-bottom: 40px;
    background-color: var(--bg-dark-section);
}
.menu__title{
    margin-bottom: 40px;
}
.menu-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 41px;
 }
.menu__list-title{
    margin-bottom: 20px;
}
.menu__item:last-child{
    margin-bottom: 0px;
}
.menu__item-title{
    max-width: 220px;
}
.menu__left{
    min-width: 411px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.menu__left .menu__item-texte{
    max-width: 209px;
}
.menu__right{
    min-width: 430px;
    display: flex;
    flex-direction: column; 
    row-gap: 20px;
}
.menu__right .menu__item-texte{
    max-width: 215px;
}
.menu__btn{
    margin-right: 0px;
}
}
@media screen and (min-width: 1280px){
.menu{
    padding-bottom: 60px;
}
.menu__list-title{
   font-size: 24px; 
}
.menu__item{
    margin-bottom: 12px;
}
.menu__item-title{
   max-width: 291px;
   margin-bottom: 4px;
   font-size: 16px;
}
.category{
   column-gap: 60px;  
}
.menu__left{
   min-width: 485px;   
}
.menu__left .menu__item-texte{
    max-width: 257px;
}
.menu__right .menu__item-texte{
    max-width: 257px;
}
.menu__right{
   min-width: 485px; 
}
.menu__rinks .menu__item-title{
    margin-bottom: 3px;
}
.menu__rinks .menu__item-texte{
    margin-bottom: 8px;
}
.menu__desert .menu__item-title{
    margin-bottom: 4px;
}

}
