.triple {
  position: relative;
  overflow: hidden;
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: var(--bg-dark-section);
}

.triple__subtitle {
  text-align: end;
  font-family: 'Times New Roman';
  font-size: 20px;
  line-height: 1.15;
  margin-bottom: 8px;
  color: var(--overhead-title-text);
}

.triple__logo {
  display: block;
  font-family: 'Film P3';
  font-weight: 700;
  font-size: 40px;
  line-height: 1.07;
  letter-spacing: 0.3em;
  color: var(--title-mimino-color);
  margin-bottom: 32px;
  width: 127px;
  margin-left: auto;
}

.triple__subtitle-wraper {
  width: 303px;
  margin-left: auto;
}

.triple__title {
  margin-bottom: 12px;
  font-family: 'Times New Roman';
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  color: #000000;
}

.triple__text {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: var(--text-grey-color);
  margin-right: auto;
  width: 258px;
  margin-bottom: 32px;
}

.triple__main-pictures {
  margin-bottom: 32px;
}

.main-pictures img {
  box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}

.triple__continer-pictures {
}

@media screen and (min-width: 680px) {
  .triple__continer-pictures {
    overflow: visible;
  }
}

.triple__pictures-list {
  display: flex;
  gap: 16px;
  margin-bottom: 28px;
  margin-right: -140px;
  flex-direction: row-reverse;
}

.triple__pictures-list img {
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
}

.triple__pictures-item {
}

.triple__arrow-list {
  display: flex;
  gap: 34px;
  justify-content: end;
  margin-bottom: 28px;
}

.triple__button-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 16px;
}

.triple__button-link,
.triple__btn {
  white-space: nowrap;
  padding: 14px 37px;
  width: 236px;
}

@media screen and (min-width: 320px) and (max-width: 414px) {
  .triple__title {
    font-size: 23px;
  }
}

@media screen and (min-width: 1024px) {
  .triple {
    overflow: visible;
    padding-top: 62px;
    padding-bottom: 40px;
  }

  .triple__container {
    position: relative;
  }

  .triple__subtitle {
    font-size: 32px;
    line-height: 1.15;
    margin-bottom: 4px;
  }

  .triple__logo {
    font-size: 64px;
    line-height: 1.07;
    margin-bottom: 62px;
    width: 202px;
  }

  .triple__subtitle-wraper {
    width: 400px;
  }

  .triple__title {
    font-size: 30px;
    line-height: 1.13;
    margin-bottom: 16px;
  }

  .triple__text {
    font-size: 16px;
    line-height: 1.25;
    width: 100%;
    margin-bottom: 176px;
  }

  .triple__main-pictures {
    position: absolute;
    top: -96px;
    left: 80px;
  }

  .triple__continer-pictures {
    display: flex;
    flex-direction: row-reverse;
    gap: 266px;
  }

  .triple__pictures-list {
    margin-right: 0;
    gap: 40px;
  }

  .triple__button-list {
    padding-bottom: 101px;
  }

  .triple__arrow-list {
    justify-content: start;
  }
}

@media screen and (min-width: 1280px) {
  .triple {
    padding-top: 72px;
    padding-bottom: 40px;
  }

  .triple__main-pictures {
    top: -103px;
    left: 112px;
  }

  .triple__description {
    margin-right: 58px;
  }

  .triple__logo {
    margin-bottom: 72px;
  }

  .triple__subtitle-wraper {
    width: 454px;
  }

  .triple__title {
    font-size: 36px;
    margin-bottom: 24px;
  }

  .triple__main-pictures {
    width: 460px;
    left: 110px;
  }

  .triple__continer-pictures {
    gap: 326px;
  }
}
